.CZQ_content_wrap_nav{
	padding-bottom: 5px;
	border-bottom: 2px solid #e1e1e1;
}
.seckill_content{
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
}
.seckill_content_list{
	width: 100%;
	height: 317px;
	overflow: hidden;
	margin-bottom: 30px;
}
.seckill_content_list>div{
	float: left;
}
.seckill_content_list .seckill_content_listL{
	width: 310px;
}
.img_logo{
	width: 120px;
}
.shelves_time{
	width: 185px;
	height: 75px;
	background: url(../img/time_bg.png) 0 0 no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	position: relative;
}
.shelves_time p{
	color: white;
	font-size: 24px;
	padding-left: 80px;
	box-sizing: border-box;
	position: absolute;
}
.shelves_time p:nth-child(1){
	top: 8px;
}
.shelves_time p:nth-child(2){
	top: 40px;
}
.seckill_content_listL .img_logo2{
	width: 150px;
	margin-left: 158px;
	margin-top: 25px;
}
.seckill_content_listR{
	border: 1px solid #e1e1e1;
	width: 888px;
	height: 315px;
	overflow: hidden;
}
.seckill_content_listR>div{
	float: left;
}
.seckill_content_listR_img,.seckill_content_listR_img>img{
	height: 315px;
	width: 315px;
}
.seckill_content_listR_text{
	width: 573px;
	padding: 25px 30px;
	box-sizing: border-box;
}
.seckill_content_listR_price{
	width: 100%;
	height: 100px;
	background-color: #fcdb5a;
	margin-top: 20px;
	padding: 15px 20px;
	box-sizing: border-box;
}
.seckill_market_price{
	display: inline-block;
	height: 30px;
	width: 100%;
	color: #743e06;
	font-size: 16px;
	border-bottom: 1px dashed #743e06;
}
.seckill_replacement_price{
	display: inline-block;
	height: 30px;
	width: 100%;
	color: #743e06;
	font-size: 16px;
}
.seckill_replacement_price>span{
	color: #ff1d01;
	font-size: 30px;
	position: relative;
	top: 5px;
}
.seckill_immediate_buy{
	color: white;
	font-size: 20px;
	background-color: #f15946;
	width: 235px;
	height: 65px;
	border-radius: 10px;
	margin-left: 278px;
	margin-top: 40px;
	text-align: center;
	line-height: 65px;
}
