.approve-success-wrap{
	padding: 0;
}
.approve-success-wrap .approve-success-upper{
	height: 4.45rem;
	background-color: #e74147;
	padding-top: 1.45rem;;
}
.approve-success-btn-div{
	padding: 0 0.45rem;
}
.approve-success-wrap .right-icon{
	width: 1.38rem;
	height: 1.38rem;
	margin-bottom: 0.5rem;
}
.approve-success-text{
	color: white;
	font-size: 0.24rem;
	line-height: 0.34rem;
}

.approve-success-btn{
	height: 0.75rem;
	margin-top: 0.78rem;
	font-size: 0.3rem;
	background-color: #e74147;
	color: white;
	letter-spacing: 0.05rem;
    text-indent: 0.05rem;
}
.btn.focus, .btn:focus, .btn:hover{
	color: white;
}