@charset "utf-8";
/* CSS Document */
.chongzhi{
	width:1200px;
	margin:20px auto;
}
.chongzhibox{
	border:1px solid #ddd;
}
.cztitle{
	background:#f3f3f3;
	height:35px;
}
.cztitle h3{
	font-size:20px;
	margin-left:20px;
	line-height:35px;
	font-weight:500;
}
.czziliao{
	margin:20px 0;
}
.czziliao dl{
	overflow:hidden;
	margin-bottom:10px;
	margin-left:80px;
}
.czziliao dl dt,.czziliao dl dd{
	float:left;
}
.czziliao dl dt{
	width:80px;
	text-align:right;
	font-size:14px;
	line-height:30px;
}
.czziliao dl dd .shawec{
	font-size:14px;
	line-height:30px;
}
.czziliao .cip input{
	width:100px;
	height:28px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	border:1px solid #8caee5;
	margin-right:5px;
	text-align:center;
	color:#d43638;
}
.czziliao .ts{
	display:block;
	font-size:12px;
	margin-top:3px;
}
.czziliao .sert{
	display:inline-block;
	border:1px solid #d9d9d9;
	background:#f5f5f5;
	font-size:12px;
	color:#333;
	height:25px;
	line-height:25px;
	margin-top:3px;
	padding:0 10px;
}
.nexts{
	margin-left:160px;
}
.nexts a{
	display:block;
	width:155px;
	height:36px;
	line-height:36px;
	text-align:center;
	color:#fff;
	background:#e74649;
	-webkit-box-shadow:0 -5px 10px #df3033 inset;
	-moz-box-shadow:0 -5px 10px #df3033 inset;
	box-shadow:0 -5px 10px #df3033 inset;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.czts{
	border:2px solid #edd28b;
	background:#fffdee;
	font-size:12px;
	padding:18px 30px;
	width:816px;
	margin:20px auto;
}
.czts dl dt{
	font-weight:600;
}
.czts dl dd{
	line-height:18px;
	margin-top:10px;
}