@charset "utf-8";
/* CSS Document */
.breadcrumb{
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    background: #eaeaea;
    padding-left: 13px;
}
.breadcrumb a:hover{
	color:#ff4500;
}
.tabs-01 {
    padding: 14px 35px;
}
.tabs-01 .tab {
    margin-left: -11px;
    position: relative;
    z-index: 9;
	overflow: hidden;
}
.tabs-01 .tab .list-item.current {
    color: #fb8837;
}
.tab li, .tab-item {
    float: left;
    text-align: center;
}
.tabs-01 .tab .list-item {
    height: 36px;
}
.tabs-01 .dk-line {
    display: block;
    border-left: 1px solid #666;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    margin-left: -1px;
}
.tabs-01 .tab .list-item.current a {
    color: #fb8837;
}
.dk-line a:hover{
	color:#ff4500;
}
.tabs-01 .tabcons {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    padding: 22px;
    margin-top: -1px;
}
.tabs-01 .help-tit-l2 {
    color: #6abb78;
	font-size: 14px;
    margin-bottom: 15px;
}
.tabs-01 .help_list {
    line-height: 22px;
	font-size:14px;
}
.contxt {
    padding: 10px 60px;
    margin: 20px 0;
    overflow: hidden;
    color: #000;
}
.contxt .help-tit1 {
    width: 100%;
    font-size: 20px;
    font-family: "microsoft yahei";
    border-bottom: 1px dashed #eaeaea;
    margin-bottom: 25px;
    padding-top: 0;
    padding-bottom: 15px;
	height:25px;
	color: #7dd589;
}
.contxt p {
    text-indent: 2em;
    line-height: 21px;
    margin-bottom: 20px;
}
.contxt a{
    color: #4db7eb;
}