@charset "utf-8";
/* CSS Document */
.alctxt{
	margin-top:30px;
}
.alctxt h3{
	font-size:22px;
	font-weight:600;
}
.alctxtbox{
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	margin-top:10px;
}
.alctxtbox p{
	font-size:14px;
	line-height:22px;
	margin:16px 0;
}
.alcbiao{
	margin-top:20px;
}
.alcbiao dl{
	overflow:hidden;
	margin:20px;
}
.alcbiao dl dt,.alctxtbox dl dd{
	float:left;
}
.alcbiao dl dt{
	width:110px;
	text-align:right;
	font-size:14px;
}
.alcbiao dl dd{
	width:282px;
	margin-left:10px;
}
.alcbiao dl dd input{
	display:block;
	width:280px;
	height:24px;
	border:1px solid #cacaca;
	color:#999;
}
.alcbiao dl dd span{
	font-size:12px;
	display:block;
	margin-top:5px;
	color:#999;
}
.alcbiao .hetsm{
	position:relative;
}
.alcbiao .hetsm .txt{
	border:1px solid #cacaca;
	width:218px;
	height:24px;
	display:inline-block;
}
.alcbiao .hetsm .btn{
	display:inline-block;
	background-color:#fff;
	border:1px solid #cacaca;
	width:50px;
	height:26px;
	color:#999;
}
.alcbiao .hetsm .file{
	position:absolute;
	top:0;
	left:0;
	filter:alpha(opacity=0);
	opacity: 0;
	width:218px;
}
.alcbiao .hetsm .phone_txt{
	width:170px;
	height:24px;
	border:1px solid #cacaca;
	display:inline-block;
}
.alcbiao .hetsm .btn_yanzheng{
	display:inline-block;
	border:1px solid #cacaca;
	width:100px;
	height:26px;
	background:#fff;
	color:#999;
}
.bdtjbt{
	display:block;
	width:100px;
	height:24px;
	border:1px solid #ff911b;
	margin:32px auto 10px;
	color:#ff911b;
	background:none;
}
.tjtsxx{
	font-size:14px;
	text-align:center;
	margin-bottom:40px;
	color:#999;
}