@charset "utf-8";
.information_set{
	font-family:"微软雅黑";
	margin-top:26px;
	overflow:hidden;
	margin-bottom:50px;
}
.set_title{
	height:46px;
	background:#f2f2f2;
}
.set_title h4{
	line-height:46px;
	font-size:14px;
	font-weight:bold;
	margin-left:18px;
}
.pingjia_name{
	overflow:hidden;
	margin-left:20px;
	margin-top:20px;
}
.pingjia_name img{
	display:block;
	float:left;
	width:120px;
	height:90px;
	background:#ccc;
}
.pingjia_name span{
	display:block;
	float:left;
	margin-left:20px;
	line-height:30px;
	margin-top:10px;
}
.pingjia_name span strong{
	font-family:"宋体";
	font-weight:bold;
	font-size:12px;
}
.pingjia_name span p{
	font-size:12px;
	font-family:"宋体";
	color:#999;
}
.pingjia_kuang{
	width:900px;
	margin-left:20px;
	margin-top:20px;
	border:1px solid #e6e6e6;
	overflow:hidden;
}
.pingjia_kuang .pingjia_kuang_main textarea{
	border:1px solid #e6e6e6;
	width:500px;
	height:100px;
	resize: none;
}
.pingjia_a{
	overflow:hidden;
}
.pingjia_a i{
	margin-left:2px;
	display:inline-block;
	width:13px;
	height:12px;
	background:url(../img/xiaotubiao.png) no-repeat -83px -224px;
}
.pingjia_a{
	font-size:12px;
	margin-left:20px;
	margin-top:10px;
}
.pingjia_a i.star_on{
	background:url(../img/xiaotubiao.png) no-repeat -98px -224px;
}
.pingjia_text{
	display:block;
	float:left;
}
.pingjia_kuang_main{
	margin-left:10px;
	display:block;
	float:left;
}
.hetsma{
	clear:both;
	margin:10px 0 0 70px;
	position:relative;
}
.hetsma .txt{
	border:1px solid #cacaca;
	width:150px;
	height:24px;
	display:inline-block;
}
.hetsma .btn{
	display:inline-block;
	background-color:#fff;
	border:1px solid #cacaca;
	width:50px;
	height:26px;
	color:#999;
}
.hetsma .file{
	position:absolute;
	top:0;
	left:0;
	filter:alpha(opacity=0);
	opacity: 0;
	width:218px;
}
.hetsma b{
	margin-left:5px;
	font-family:"宋体";
	font-size:14px;
	color:#999;
	font-weight:100;
}
.pingjia_xiu{
	margin:10px 0 10px 70px;
	overflow:hidden;
}
.pingjia_xiu .pingjia_xiu_a{
	border:none;
	display:inline-block;
	width:50px;
	height:50px;
	background:#ccc;
	float:left;
	margin-left:10px;
}
.pingjia_xiu .pingjia_xiu_a i{
	float:right;
	margin-right:1px;
	line-height:12px;
	cursor:pointer;
}
.pingjiatijiao{
	line-height:40px;
	width:120px;
	height:40px;
	margin:20px 0 30px 90px;
	background:#ff4500;
	text-align:center;
	color:#fff;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	cursor:pointer;
}


