@charset "utf-8";
/* CSS Document */
.tg-banner{
	width:100%;
	height:465px;
	position:relative;
}
.tg-banbox{
	position:absolute;
	left:50%;
	midth:1920px;
	height:465px;
}
.tg-banner ul{
	width:100%;
	margin-left:-960px;
	height:465px;
}
.tg-toptab{
	margin-top:20px;
}
.tg-toptab .gisba li{
	float:left;
	border-right:1px solid #c5c5c5;
	width:299px;
	line-height:35px;
	text-align:center;
}
.tg-toptab .gisba>li:last-of-type{
	border:none;
}
.tg-toptab .gisba li.shica{
	background:url(../img/bg_bargain_tt.png) no-repeat;
	color:#fff;
}
.tg-toptab .gisba{
	overflow:hidden;
	background:#e2e2e2;
}
.tg-topmain{
	border-top:2px solid #3b84d6;
	padding:10px 0;
}
.tgmainbox ul{
	overflow:hidden;
}
.tgmainbox ul .fore1{
	float:left;
	width: 160px;
	padding: 0 19px;
	border-right: 1px solid #e5e5e5;
}
.tgmainbox ul li .f-name {
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 5px;
	font: 12px/18px "microsoft yahei";
}
.tgmainbox ul li .f-name a:hover{
	color:#ff4500;
}
.tgmainbox ul li .f-img {
	width: 100%;
	height: 160px;
	text-align: center;
}
.tgmainbox ul li .f-money {
	width: 100%;
	height: 32px;
	font: 20px/32px Verdana;
	text-align: center;
}
.tgmainbox ul li .f-money strong{
	font-weight: 300;
}
.tgmainbox ul>li:last-of-type{
	border:none;
}