@charset "utf-8";
.information_set{
	font-family:"微软雅黑";
	margin-top:26px;
	overflow:hidden;
	margin-bottom:50px;
}
.set_title{
	height:46px;
	background:#f2f2f2;
}
.set_title h4{
	line-height:46px;
	font-size:14px;
	font-weight:bold;
	margin-left:18px;
}
.findstep{
	width:640px;
	margin:60px auto 0;
}
.findstep:after{
	display:block;
	content:"";
	clear:both;
	visibility:hidden;
	height:0;
}
.thisiline{
	float:left;
	width:160px;
	height:5px;
	background:#ccc;
	font-size:14px;
}
.thisiline dt{
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	width:23px;
	height:23px;
	background:#ccc;
	position:relative;
	margin:auto;
	top:-9px;
	line-height:23px;
	text-align:center;
	color:#fff;
}
.thisiline dd{
	text-align:center;
}
.contline,.contline dt{
	background:#7abd54;
}
.contline dd{
	color:#7abd54;
}
.form{
	width:700px;
	margin:80px auto 0;
}
.item{
	margin-top:20px;
}
.item span{
	float:left;
	width:150px;
	font-size:14px;
	text-align:right;
	padding:10px 0;
}
.item .fl{
	float:left;
}
.item .fl input{
	border:1px solid #ccc;
	width:157px;
	height:18px;
	padding:8px 23px 8px 5px;
}
.clr{
	display:block;
	content:"";
	clear:both;
	visibility:hidden;
	height:0;
}
.clr{
	display:block;
	content:"";
	clear:both;
	visibility:hidden;
	height:0;
}
.yanzhengmabox{
	float:left;
	margin-left:10px;
	font-size:12px;
	line-height:26px;
}
.yanzhengmabox img{
	width:100px;
	height:26px;
	cursor:pointer;
	background:#000;
	vertical-align: middle;
	margin-top:5px;
}
.yanzhengmabox a{
	color:#005ea7;
}
.btn-5{
	border: 1px solid #bfd6af;
	height: 18px;
	line-height:18px;
	padding: 2px 14px 3px;
	font-size:12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.fl .selt {
	width: 187px;
	line-height: 18px;
	border: 1px solid #ccc;
	padding: 5px;
	height:36px;
}
.fl strong{
	line-height:37px;
}
.fl strong i{
	margin-left:5px;
	font-weight:100;
	font-size:12px;}

.hjoqu{
	padding: 8px 14px;
	color: #323333;
	background-color: #f8f8f8;
	border-radius: 2px;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	border: 1px solid #ddd;
}
.safe-icon-box{
	position:relative;
}
.safe-icon-box .icon-succ02{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
}
.fore{
	margin-left:58px;
}
.fore .ftx-02{
	font-size:16px;
	color:#71b247;
}
.fore .ftx-03{
	font-size:12px;
	line-height:25px;
}
.msg-error {
	display:block;
	margin-top:5px;
	color: #e4393c;
	font-size:12px;
}
.xiugai_shouji_done i{
	margin:5px 10px 0 20px;
	float:left;
	width:32px;
	height:28px;
	background:url(../img/xiaotubiao.png) no-repeat -19px -176px;
}
.xiugai_shouji_done{
	font-size:24px;
	width:500px;
	margin:120px auto 0;
}