body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:123px;
  top:51px;
  width:129px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:116px;
  top:89px;
  width:144px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:130px;
  width:126px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:125px;
  top:130px;
  width:126px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:249px;
  top:130px;
  width:126px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:190px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:190px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:212px;
  width:274px;
  height:32px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:20px;
  top:255px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:255px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:80px;
  top:277px;
  width:300px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:20px;
  top:319px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:319px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:80px;
  top:341px;
  width:287px;
  height:48px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:48px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:20px;
  top:399px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:80px;
  top:399px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:80px;
  top:421px;
  width:287px;
  height:32px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:20px;
  top:464px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:80px;
  top:464px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:80px;
  top:486px;
  width:287px;
  height:32px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:531px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:80px;
  top:531px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:80px;
  top:553px;
  width:287px;
  height:32px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:20px;
  top:595px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:80px;
  top:595px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:80px;
  top:617px;
  width:287px;
  height:48px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:48px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
