body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:643px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:643px;
}
#u1 {
  position:absolute;
  left:2px;
  top:314px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:82px;
  width:140px;
  height:28px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1028px;
  top:82px;
  width:120px;
  height:28px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:170px;
  top:116px;
  width:1020px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:1016px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:258px;
  top:156px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:270px;
  top:182px;
  width:29px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:471px;
  top:156px;
  width:92px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:502px;
  top:182px;
  width:29px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:740px;
  top:156px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:756px;
  top:182px;
  width:34px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:170px;
  top:226px;
  width:1020px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:1016px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:252px;
  top:266px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:270px;
  top:292px;
  width:29px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1001px;
  top:266px;
  width:66px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1024px;
  top:292px;
  width:29px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:249px;
  top:323px;
  width:79px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:270px;
  top:349px;
  width:29px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:588px;
  top:323px;
  width:92px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:624px;
  top:349px;
  width:29px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:998px;
  top:323px;
  width:79px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1028px;
  top:349px;
  width:29px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:988px;
  top:156px;
  width:92px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1032px;
  top:182px;
  width:8px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:157px;
  top:399px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:20px;
  font-size:12px;
  text-align:left;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:0px;
  width:80px;
  height:20px;
  font-size:11px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:96px;
  top:0px;
  width:94px;
  height:20px;
  font-size:11px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:3px;
  width:90px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:20px;
  width:1043px;
  height:331px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:331px;
}
#u54 {
  position:absolute;
  left:2px;
  top:158px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:20px;
  top:80px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:48px;
  top:80px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u58 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:78px;
  top:80px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u60 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:106px;
  top:80px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u62 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:136px;
  top:80px;
  width:30px;
  height:17px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u64 {
  position:absolute;
  left:2px;
  top:1px;
  width:26px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:184px;
  top:80px;
  width:140px;
  height:17px;
  font-size:12px;
  text-align:left;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:17px;
}
#u66 {
  position:absolute;
  left:2px;
  top:1px;
  width:136px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:474px;
  top:52px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:64px;
  top:241px;
  width:160px;
  height:10px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:143px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:160px;
  height:1px;
}
#u70 {
  position:absolute;
  left:198px;
  top:221px;
  width:123px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:106px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:123px;
  height:1px;
}
#u71 {
  position:absolute;
  left:314px;
  top:253px;
  width:140px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u72 {
  position:absolute;
  left:438px;
  top:210px;
  width:140px;
  height:10px;
  -webkit-transform:rotate(321deg);
  -moz-transform:rotate(321deg);
  -ms-transform:rotate(321deg);
  transform:rotate(321deg);
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u73 {
  position:absolute;
  left:552px;
  top:201px;
  width:140px;
  height:10px;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u74 {
  position:absolute;
  left:674px;
  top:203px;
  width:140px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u75 {
  position:absolute;
  left:802px;
  top:185px;
  width:140px;
  height:10px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u76 {
  position:absolute;
  left:30px;
  top:126px;
  width:10px;
  height:200px;
}
#u76_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u76_end {
  position:absolute;
  left:-5px;
  top:183px;
  width:20px;
  height:18px;
}
#u76_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:200px;
}
#u77 {
  position:absolute;
  left:36px;
  top:319px;
  width:938px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:921px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:5px;
  width:938px;
  height:1px;
}
#u46_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:20px;
  font-size:12px;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:20px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:146px;
  height:30px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:146px;
  top:30px;
  width:146px;
  height:30px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:292px;
  top:30px;
  width:146px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:436px;
  top:30px;
  width:146px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:59px;
  width:146px;
  height:30px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:146px;
  top:59px;
  width:146px;
  height:30px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:291px;
  top:59px;
  width:146px;
  height:30px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:436px;
  top:59px;
  width:146px;
  height:30px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:583px;
  top:30px;
  width:146px;
  height:30px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:583px;
  top:59px;
  width:146px;
  height:30px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:0px;
  top:88px;
  width:146px;
  height:30px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:146px;
  top:88px;
  width:146px;
  height:30px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:291px;
  top:88px;
  width:146px;
  height:30px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:436px;
  top:88px;
  width:146px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:583px;
  top:88px;
  width:146px;
  height:30px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:10px;
  top:0px;
  width:80px;
  height:20px;
  font-size:11px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:3px;
  width:76px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:96px;
  top:0px;
  width:94px;
  height:20px;
  font-size:11px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:3px;
  width:90px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:728px;
  top:30px;
  width:146px;
  height:30px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:728px;
  top:59px;
  width:146px;
  height:30px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:874px;
  top:30px;
  width:146px;
  height:30px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:874px;
  top:59px;
  width:146px;
  height:30px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:728px;
  top:88px;
  width:146px;
  height:30px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:874px;
  top:88px;
  width:146px;
  height:30px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
