.home_content_wrap{
	border-bottom: 1px solid #E3E4E5;
	background-color: #fff;
	padding-bottom: 20px;
}
.home_content{
	width: 1200px;
	margin: 0 auto;
	border: 1px solid transparent;
	box-sizing: content-box;
}
.banner-nav{
	height: 396px;
}
.nav-container{
	position: relative;
    height: 396px;
    background-color: #845f3f;
    padding: 20px 0 10px;
    width: 247px;
    float: left;
    z-index: 2;
    box-sizing: border-box;
}
.nav-container .nav-list{
    overflow: hidden;
}
.nav-list li{
    float: left;
    text-align: center;
    cursor: pointer;
}
.nav-list li span{
	float: left;
	display: block;
	width: 60px;
	height: 100%;
	position: relative;
}
.nav-list li span a{
	width: 100%;
	height: 100%;
	white-space:nowrap;
	overflow: hidden;
	display: block;
}
.nav-list li span:nth-child(1){
	text-align: right;
	margin-right: 20px;
}
.nav-list li span:nthchild(2){
	text-align: left;
}
.nav-list li span.iconfont:before{
	width: 20px;
	content: '/';
	color: #fff;
	left: -20px;
	text-align: center;
	position: absolute;
}
.nav-container .nav-list .nav-item{
    width: 247px;
    padding: 0 30px;
    height: 39px;
    line-height: 39px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    text-align: left;
    overflow: hidden;
}
.nav-container .nav-list .nav-item a{
	font-size: 14px;
	color: #fff;
}
.nav-container .nav-list .nav-item .recom{
	font-size: 25px;
}
.nav-container .nav-list .nav-item:hover{
	background-color: #684b34;
}
.nav-container .nav-list .nav-item a:hover{
	color: #e4af82;
}
.home_banner{
	width: 953px;
	height: 396px;
	float: left;
}
.home_banner .swiper-slide img{
	width: 953px;
	height: 396px;
}
.swiper-button-next, .swiper-button-prev{
	width: 42px;
	height: 42px;
	margin-top: -21px;
	background-size: 16px 25px;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
}
.swiper-container>>>.swiper-pagination-bullet-active{
	background: #ea4c28;
	-webkit-box-shadow: 0 0 0 4px #ccc;
    box-shadow: 0 0 0 4px #ccc;
}
.home_recom_class{
	padding: 60px 30px 30px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid #e3e4e5;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.home_recom_class li{
	width: 119px;
}
.home_recom_class li p{
	font-size: 20px;
	color: #333333;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 15px;
}
.home_recom_class li a{
	display: block;
	width: 100%;
	height: 100%;
}
.home_recom_class span{
	display: block;
	width: 100%;
}
.home_recom_class span img{
	display: block;
	width: 100%;
	height: auto;
}
.home_modul_header{
	height: 50px;
	position: relative;
	margin-bottom: 25px;
}
.home_modul_header .modul_head{
	font-size: 31px;
	color: #333333;
}
.modul_header_left{
	line-height: 1.2;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
}
.home_countdown{
	margin-left: 15px;
	display: inline-block;
}
.home_clock{
	display: inline-block;
	overflow: hidden;
	position: relative;
    top: 3px;
}
.time_remin{
	position: relative;
    top: -5px;
	display: inline-block;
	color: #b04337;
	margin-right: 6px;
}
.time_remin img{
	display: inline-block;
	width: 19px;
	height: 19px;
	position: relative;
    top: -2px;
    margin-right: 5px;
}
.home_clock li{
	float: left;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background-color: #b04337;
	font-size: 18px;
	margin-right: 9px;
	position: relative;
	border-radius: 2px;
}
.home_clock li:after{
	content: ':';
	position: absolute;
    right: -8px;
    top: -2px;
    color: #b04337;
    font-size: 26px;
    line-height: 28px;
}
.home_clock li:nth-last-child(1):after{
	display: none;
}
.home_modul_header .more{
	font-size: 16px;
	color: #bfbdbe;
	position: absolute;
	bottom: 0;
    right: 16px;
}
.home_modul_header .more:hover{
	color: #845f3f;
}
.home_modul_header .more:after{
	content: '\e604';
    position: absolute;
    font-size: 28px;
    top: -9px;
    left: 26px;
}
.home_goods_list{
	overflow: hidden;
	width: 1280px;
	position: relative;
    left: -40px;
    top: -25px;
    padding: 25px 40px 10px;
}
.home_goods_list li{
	float: left;
	width: 291px;
	margin-right: 12px;
	margin-bottom: 12px;
	box-sizing: border-box;
	border: 1px solid #e3e4e5;
}
.home_goods_list li:nth-child(4n){
	margin-right: 0;
}
.home_goods_cont{
	width: 100%;
	height: 100%;
}
.home_goodImg{
	width: 100%;
	height: 289px;
	display: block;
}
.home_goodImg img{
	width: 100%;
	height: 100%;
}
.home_goods_text{
	padding: 10px 10px 0;
	background-color: #f8f8f8;
}
.home_goods_text .desc{
	font-size: 22px;
	color: #666666;
	height: 60px;
	line-height: 30px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	font-weight: lighter;
}
.home_goods_text .price{
	font-size: 30px;
	color: #ea4c28;
	text-align: center;
	padding-bottom: 10px;
}
.home_goods_text .price:before{
	content: '\e60b';
	font-size: 20px;
}
.home_goods_text .price small{
	color: #666666;
	font-size: 60%;
	margin-left: 5px;
	font-weight: lighter;
}
.modul_header_left .small_desc{
	font-size: 20px;
	color: #999999;
	font-weight: lighter;
	margin-left: 20px;
}
.home_goods_list li:hover{
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}
