body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:18px;
  width:320px;
  height:462px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:462px;
}
#u2 {
  position:absolute;
  left:2px;
  top:223px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:21px;
  width:320px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:19px;
  top:27px;
  width:11px;
  height:24px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:20px;
  color:#6B6B6B;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:24px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:283px;
  top:28px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:61px;
  width:320px;
  height:62px;
  overflow:hidden;
}
#u11_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:62px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:60px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:120px;
  top:0px;
  width:60px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:180px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:240px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:420px;
  top:0px;
  width:60px;
  height:50px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:140px;
  top:49px;
  width:20px;
  height:10px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:123px;
  width:320px;
  height:24px;
  font-size:11px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:24px;
}
#u34 {
  position:absolute;
  left:2px;
  top:5px;
  width:316px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:4px;
  top:150px;
  width:86px;
  height:86px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u36 {
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:237px;
  width:320px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u38 {
  position:absolute;
  left:100px;
  top:150px;
  width:200px;
  height:30px;
  font-size:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:96px;
  top:217px;
  width:41px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:142px;
  top:222px;
  width:28px;
  height:14px;
  font-size:11px;
  color:#363636;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:142px;
  top:224px;
  width:28px;
  height:10px;
}
#u44_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_end {
  position:absolute;
  left:11px;
  top:-5px;
  width:18px;
  height:20px;
}
#u44_line {
  position:absolute;
  left:0px;
  top:5px;
  width:28px;
  height:1px;
}
#u45 {
  position:absolute;
  left:199px;
  top:204px;
  width:101px;
  height:30px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
