@charset "utf-8";

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
*{
    margin:0;
    padding:0;
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;

}
.hongbao-tankuangceng{
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 640px;
    margin:0 auto;
    background-color:rgba(0,0,0,0.5);
    position: fixed;
}
.hongbao-tankuang{
    width: 16.3em;
    height: 16.3em;
    background-color: red;
    margin:0 auto;
    top: 50%;
    margin-top: -10em;
    position: relative;
    background:url(../img/double12tankuangweb.png) no-repeat 0 0;
    background-size: 16.3em 16.3em;
    position: relative;
}
.hongbao-tankuang p.wenzineirong{
    position: absolute;
    font-size: 1.3em;
    font-family: "微软雅黑";
    color: #e3162e;
    margin-top: 2.8em;
    margin-left: 4.1em;
}
.hongbao-tankuang img{
    width: 50%;
    position: absolute;
    margin-top: 16.3em;
    margin-left: 4.2em;

}
