html{
    width: 100%;

    background-color: #f0f0f2;
}
body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
.index-box{
    background-color: #e8e8e8;
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";

clear: both;
height: 0;

}
.top{
    width: 100%;
    height:8.2em;
    /*background:url(../img/s-indexbanner.png) no-repeat 0 0;*/
   background-color: #5d7b92;
    background-size: 100% 8.2em;
}
.top p{
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 3.5em;
   /* margin-top: 1em;*/
}

.top input{
    width: 70%;
    height: 2.5em;
    border-radius: 8px;
    border:none;
    margin-left: 15%;
    margin-top: -0.6em;
    text-align: center;
    font-size: 0.8em;
    color: #949494;
    font-weight: 900;
    font-size: 14px;
    line-height: 2.5em;
    float: left;
    background-color: #fff;

}
.ime-disabled{ime-mode:disabled;}
.top img{
    width:20px;
    float: left;
    position: relative;
    margin-top: -28px;
    margin-left: 78%;
}
.middle{
    width:74%;
    padding:5% 13%;
    /*background-color: #fff;*/
    margin-top: 10px;
  
}
.middle li{
    width: 38%;
    list-style: none;
    float: left;
    margin-right: 24%;
    margin-bottom: 2.5em;
}
.middle li.right{
    margin-right: 0;
}
.middle li img{
    width: 100%;
}
.jianpan{
    background-color: #fff;
    display: none;
    padding: 10% 8% 0 8%;
    position: relative;
   /* top:0px;*/
    z-index: 100;

}
.jianpan ul{
    width: 100%;
    margin-bottom: 1em;

}
.jianpan > img{
    width: 2em;
    margin:0 auto;
    margin-top: -1em;
    margin-bottom: 1em;
}
.jianpan ul.last{
    margin-bottom: 47px;
}
.jianpan ul li{
    width: 24.5%;
    display: block;
    text-align: center;
    height: 5.5em;
    line-height: 5.5em;
    /*height: 4em;*/
    margin-right: 12%;
    list-style: none;
    float: left;
    border-radius: 50%;
    border:1px solid #c2c2c2;

}
.jianpan ul li.cha{ 

    background-color: #1283ec;
  
  /* font-size: 30px;*/
}
.jianpan ul li.cha img{
      width:54%;
      margin-top: 32%;
      margin-left: 18%;
}
.jianpan ul li.right{
    margin-right: 0px;
}
.jianpan ul li.anniu{
    width: 24.7%;
    background-color: #e84e40;
    border-radius: 3em;
    line-height: 3.8em;
    height: 3.8em;
    color:#fff;
    font-size: 20px;
}
.bottom{
    position: fixed;
    bottom:0;
    width: 100%;
    height:47px;
    min-width: 320px;
    max-width: 640px;
    
    background-color: #fff;
}
.bottom li{
    width: 33.3%;
    float: left;
    list-style: none;
}
.bottom li img{
    margin:0 auto;
    width: 27px;
    margin-top: 6px;
}


/**/
.middle a li{
	text-align: center;
	font-size: 15px;
	color: #5d7b92;
}
.middle a li img{
	margin-bottom: 5px;
	border-radius: 50%;
}
