body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #ebebeb;
    font-family: "微软雅黑";
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.person-box{
    background-color: #ebebeb;
}
.top{
    width: 100%;
    height:8.0em;
    background-color:#548e0c; 
    position: relative;
}
.top p{
    width: 100%;
    position: absolute;
    margin-top: 6.0em;
    color: #fff;
    font-size: 1em;
    text-align: center;
}
.top span{
    width: 5.1em;
    height: 5.1em;
    display: block;
    left: 50%;
    margin-left:-2.55em;
    margin-top: 0.7em;
    position: absolute;
}
.top span img{
    width: 100%;
    border-radius: 50%;
}

.person-cont{
    width:100%;
    height: 4.8em;
    border-bottom:2px solid #bfbfbf;
}
.person-cont li{
    height: 3.5em;
    width: 32.9%;
    list-style: none;
    float: left;
    border-right: 2px solid #bfbfbf;
}
.person-cont li img{
    width: 20%;
    margin: 0 auto;

}
.person-cont a li p{
    color: #000;
    text-align: center;
    font-size: 0.7em;
    margin-top: 1em;

}
.person-cont li.right{
    border:none;
}
.mycont-list{
    width: 100%;
    margin-top: 1.8em;
}
.mycont-list .list1{
    width: 100%;
    height: 2.9em;
    background-color:#fff;
    border-top: 2px solid #bfbfbf;
}
.mycont-list .list1 img{
    float: left;
    width: 6%;
    margin-left: 1em;
    margin-top: 0.7em;
}
.mycont-list .list1 p{
    font-size: 0.9em;
    color: #000;
    float: left;
    line-height: 3.3em;
    margin-left: 1em;
}
.mycont-list .list1 p.right {
    float: right;
    margin-right: 2em;
}
.mycont-list .list2{
    border-bottom: 2px solid #bfbfbf;
}
.phone{
    width: 100%;
    height: 3.7em;
    margin-top: 4.5em;
    background-color: #fff;
    border-bottom: 2px solid #bfbfbf;
    border-top: 2px solid #bfbfbf;
    text-align: center;
    font-size: 0.9em;
   
}
.phone p{
    line-height: 3.7em;
    margin-top: 0;
}
.time{
    width: 100%;
    height: 3.7em;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 5em;
   
}
.time p{
    line-height: 3.7em;
    margin-top: 0;
}
.bottom{
    width: 100%;
    height:47px;
    background-color: #fff;
}
.bottom li{
    width: 33.3%;
    float: left;
    list-style: none;
}
.bottom li img{
    margin:0 auto;
    width: 27px;
    margin-top: 6px;
}
.red_content{
	height: 5.0em;
	background-color: #eb6b6b;
	padding: 0 5px;
	box-sizing: border-box;
}
.lines{
	height: 2.5em;
	width: 100%;
	line-height: 2.5em;
	overflow: hidden;
	color: white;
	font-size: 15px;
}
.line2_num span:nth-child(1){
	float: left;
	color: white;
	font-size: 15px;
}
.line2_num span:nth-child(2){
	float: right;
}
.line2_num span a{
	color: white;
	font-size: 12px;
}

