html{
    width: 100%;
}
body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
.index-box{
    background-color: #f0f0f2;
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.header{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 37px;
    background: #5f7c95;
    position: fixed;
    z-index: 100;
}
.logo img{
    width:22px;
    margin-left: 15px;
    margin-top: 7px;
    float: left;
}
.ipt{
    margin-left: 60px;
    margin-right: 51px;
    height: 37px;
}
.ipt input{
    font-size: 12px;
    width: 100%;
    border:none;
    height: 24px;
    float: left;
    margin-top: 6px;
    border-radius: 5px;
}
.ipt img{
    width: 12px;
    float: right;
    margin-top: -19px;
    margin-right: 7px;
}
.shopcar img{
    float: right;
    width: 23px;
    margin-right: 15px;
    margin-top: -31px;
}
.chanpin{
    width: 100%;
    padding:15px;
    position: absolute;
    margin-top: 37px;
}
.chanpin a{
    height: 30px;
    padding: 5px;
    color: #000;
    font-size: 14px;
    background-color: #bdbfba;

}