.wine-remark-wrap{
	width: 100%;
}
.wine-remark-content1{
	padding: 0 0.37rem;
	background-color: #FFFFFF;
}
.remark-class{
	border-bottom: 0.01rem solid #d2d2d2;
}
.remark-class ul{
	overflow: hidden;
	padding: 0.36rem 0 0.18rem;
}
.remark-class li{
	display: inline-block;
	float: left;
	margin-bottom: 0.25rem;
	height: 0.5rem;
	line-height: 0.5rem;
	padding: 0 0.14rem;
	background-color: #fce5e5;
	color: #666666;
	font-size: 0.25rem;
	margin-right: 0.17rem;
	border-radius: 0.05rem;
}
/*差评状态*/
.remark-class .remark_class_bad{
	background-color: #d2d2d2;
}
/*选中状态*/
.remark-class .remark_class_active{
	background-color: #d10000!important;
	color: #FFFFFF!important;
}
.wine-remark-content{
	width: 100%;
	background-color: #eeeeee;
	padding-bottom: 1.2rem;
	position: relative;
}
.wine-remark-content li{
	padding: 0.34rem 0.37rem 0.27rem;
	background-color: #FFFFFF;
	margin-bottom: 0.17rem;
}
.wine-remark-content .user-message{
	height: 0.55rem;
	line-height: 0.55rem;
	overflow: hidden;
	padding-left: 0.07rem;
	margin-bottom: 0.15rem;
}
.wine-remark-content .user-photo{
	width: 0.55rem;
	height: 0.55rem;
	border-radius: 50%;
	background-color: #eeeeee;
	float: left;
	margin-right: 0.17rem;
}
.wine-remark-content .user-photo img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.wine-remark-content .username{
	font-size: 0.3333rem;
	color: #333333;
	height: 100%;
}
.wine-remark-content .remark{
	font-size: 0.2708rem;
	color: #333333;
	padding-left: 0.07rem;
	line-height: 0.47rem;
	margin-bottom: 0.19rem;
}
.wine-remark-img{
	margin-bottom: 0.13rem;
}
.wine-remark-img span{
	background-color: #eeeeee;
	width: 1.63rem;
	height: 1.63rem;
	margin-right: 0.08rem;
	margin-bottom: 0.08rem;
}
.wine-remark-img span:nth-child(4n){
	margin-right: 0;
}
.wine-remark-size{
	font-size: 0.2708rem;
	color: #999999;
	overflow: hidden;
	height: 0.4rem;
	line-height: 0.4rem;
}
.wine-remark-size .time{
	float: right;
}
.wine-remark-btm{
	width: 100%;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.25rem;
	color: #999999;
	text-align: center;
	position: absolute;
	bottom: 0;
}
