.wine-head-nav .right-logo{
	width: 0.54rem;
	height: 0.54rem;
	top: 0.245rem;	
}
.wine-submit-wrap{
	padding: 1.05rem 0;
	height: 100%;
	overflow-y: scroll;
}
.wine-submit-upper .show-address,.hava-address{
	width: 100%;
	background-color: #ffffff;
	padding: 0.3rem 0.50rem 0.3rem 0.37rem;
	position: relative;
	overflow: hidden;
	border-bottom: 0.01rem solid #e6e6e6;
}
.hava-address .get-users-name,.hava-address .get-users-name i,.hava-address .get-users-tel{
	font-size: 0.2708rem;
	color: #666666;
	font-style: inherit;
}
.hava-address .get-users-name{
	padding-left: 0.4rem;
}
.hava-address .get-users-tel{
	float: right;
}
.hava-address-details{
	display: table;
	overflow: hidden;
	margin-top: 0.1rem;
}
.show-address .text img{
	width: 0.38rem;
	height: 0.37rem;
	margin-right: 0.14rem;
}
.show-address .text{
	font-size: 0.2708rem;
	color: #333333;
}
.show-address .right-arrow,.hava-address .right-arrow{
	width: 0.14rem;
	height: 100%;
	float: right;
}
.hava-address .left-arrow{
	width: 0.28rem;
	height: 100%;
}
.hava-address .left-arrow-div,.hava-address .right-arrow-div{
	display: table-cell;
	vertical-align: middle;
}
.hava-address .left-arrow img{
	width: 100%;
	height: 0.33rem;
}
.show-address .right-arrow img,.hava-address .right-arrow img{
	width: 100%;
	height: 0.29rem;
}
.left-goodImg-div{
	width: 1.88rem;
}
.submit-order-list{
	height: 100%;
	background-color: #FFFFFF;
}
.hava-address .text{
	color: #666666;
	font-size: 0.2708rem;
	width: 6.2rem;
	float: left;
	padding: 0 0.1rem;
    display: table-cell;
    vertical-align: middle;
}
.hava-address .text .text_span,.hava-address .text .text_span i{
	font-size: 0.2708rem;
	font-style: inherit;
}
.submit-order-list-tit{
	padding: 0 0.37rem;
}
.submit-order-list-tit span{
	width: 100%;
	height: 100%;
	font-size: 0.2499rem;
	color: #333333;
	height: 0.71rem;
	line-height: 0.7rem;
	border-bottom: 0.01rem solid #e6e6e6;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.submit-order-list ul{
	border-bottom: 0.01rem solid #e6e6e6;
}
.special-offers{
	height: 0.74rem;
	line-height: 0.74rem;
	padding: 0 0.37rem;
}
.special-offers span{
	font-size: 0.2499rem;
	color: #333333;
}
.special-offers .right{
	float: right;
}
.special-offers .right img{
	width: 0.12rem;
	height: 0.26rem;
	margin-left: 0.23rem;
}
.wine-submit-upper{
	margin-bottom: 0.16rem;
}
.wine-submit-down{
	background-color: #FFFFFF;
}
.wine-submit-down li{
	height: 1.1rem;
	line-height: 1.1rem;
	padding: 0 0.37rem;
	border-bottom: 0.01rem solid #e6e6e6;
}
.wine-submit-down .left-way{
	font-size: 0.2916rem;
	color: #333333;
}
.wine-submit-down .left-way img{
	width: 0.4rem;
	height: 0.4rem;
	margin-right: 0.2rem;
}
.wine-submit-down .pay-right-sel,.choose-use-sel,.address-two-btn .pay-right-sel{
	width: 0.34rem;
    height: 0.34rem;
    float: left;
    margin-right: 0.13rem;
    border: 0.04rem solid #7d7d7d;
    border-radius: 50%;
    margin-top: 0.345rem;
    float: right;
    position: relative;
    background-color: #FFFFFF;
}
.wine-submit-down .pay-right-sel img,.choose-use-sel img,.address-two-btn .pay-right-sel img{
	width: 0.24rem;
    height: 0.16rem;
    position: absolute;
    top: 0.09rem;
}
.wine-submit-down .pay_sel_active,.choose-use .pay_sel_active,.address-two-btn .pay_sel_active{
    border: none;
    background-color: #d10000;
}
.wine-submit-down .pay_sel_active img,.choose-use-sel img,.address-two-btn .pay_sel_active img{
    left: 0.05rem;
}
.submit-pay-btn-div{
	width: 100%;
	padding: 0 0.37rem;
	margin-top: 0.24rem;
}
.submit-pay-btn{
	text-align: center;
	background-color: #d10000;
	color: white;
	height: 0.95rem;
	line-height: 0.95rem;
	border-radius: 0.09rem;
}
.submit-pay-btn .real-pay{
	font-size: 0.3124rem;
}
.submit-pay-btn .free{
	font-size: 0.2499rem;
	color: #ffd8dd;
}
/*弹框样式*/
.add-address-gray,.choose-coupons-gray,.pay-return-gray,.confirm-bounced-gray{
	width: 100%;
	height: 100%;
	position: fixed;
	max-width: 750px;
	min-width: 320px;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 9;
	display: none;
}
.add-address-alert{
	width: 6.76rem;
	background-color: #FFFFFF;
	border-radius: 0.15rem;
	color: #666666;
	padding: 0 0.4rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -3.38rem;
	margin-top: -2.81rem;
}
.add-address-tit{
	height: 1.13rem;
	line-height: 1.13rem;
	font-size: 0.3333rem;
}
.add-address-alert li{
	height: 1.05rem;
	border-bottom: 0.01rem solid #e1e1e1;
	position: relative;
}
.add-address-alert li:nth-last-child(1){
	border-color: #e7e7e7;
}
.add-address-alert li span{
	font-size: 0.2916rem;
	height: 1.05rem;
	line-height: 1.05rem;
	position: absolute;
}
.add-address-alert li input{
	height: 100%;
	width: 100%;
	font-size: 0.2916rem;
	padding-left: 1.20rem;
}
.add-address-alert li span.left{
	position: static;
}
.add-address-alert li span.right{
	position: static;
	float: right;
}
.add-address-alert li span.right img{
	width: 0.16rem;
	height: 0.33rem;
	margin-left: 0.2rem;
	position: relative;
	top: -0.03rem;
}
.detail-address{
	width: 100%;
	height: 1.3rem;
	font-size: 0.2916rem;
	padding-top: 0.2rem;
	resize: none;
	outline: none;
	border: none;
}
.add-address-alert .save-btn{
	width: 100%;
	height: 0.95rem;
	line-height: 0.95rem;
	font-size: 0.3124rem;
	color: #FFFFFF;
	line-height: 0.95rem;
	margin-bottom: 0.28rem;
	background-color: #d10000;
	border-radius: 0.08rem;
	letter-spacing:0.2rem;
	text-indent: 0.2rem;
}
.add-address-close{
	width: 0.9rem;
	height: 0.9rem;
	position: absolute;
	top: -1.2rem;
	left: 50%;
	margin-left: -0.45rem;
}
.add-address-close img{
	width: 100%;
	height: 100%;
}
/*使用优惠券*/
.choose-coupons-wrap{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #FFFFFF;
	padding: 0 0.37rem;
}
.whether-use-coupon span,.whether-use-coupon p{
	font-size: 0.3333rem;
}
.whether-use-coupon p{
	float: right;
}
.choose-coupons-content{
	max-height: 2rem;
	overflow-y: scroll;
}
.choose-coupons-tit {
    color: #111111;
    height: 1.1rem;
    line-height: 1.1rem;
}
.choose-coupons-ul li {
    width: 100%;
    height: 1.25rem;
    margin-bottom: 0.16rem;
    position: relative;
    background: linear-gradient(#ffa06c,#ffab7d);
    border-radius: 0.13rem;
    position: relative;
}
.choose-coupons-ul li.not-use{
	background: #d2d2d2;
}
.choose-coupons-ul .condition span {
    color: #FFFFFF;
    display: block;
}
.choose-coupons-ul .condition .up {
    font-size: 0.2708rem;
}
.choose-coupons-ul .condition .under {
    font-size: 0.2083rem;
}
.choose-coupons-ul li .round {
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    position: absolute;
    top: 0.465rem;
    background-color: #FFFFFF;
}
.choose-coupons-ul li .round1 {
    left: -0.15rem;
}
.choose-coupons-ul li .round2 {
    right: -0.15rem;
}
.choose-coupons-ul li .left-money {
    left: 0;
    border-right: 0.02rem dashed #FFFFFF;
}
.choose-coupons-ul li .left-money, .choose-coupons-ul li .right-get-btn {
    font-size: 0.5086rem;
    color: #FFFFFF;
    width: 1.5rem;
    height: 1.09rem;
    line-height: 1.09rem;
    text-align: center;
    letter-spacing: 0.1rem;
    text-indent: 0.1rem;
    position: absolute;
    top: 0.08rem;
}
.choose-coupons-ul .condition {
    height: 100%;
    left: 0;
    top: 0;
    padding: 0.25rem 0 0 1.7rem;
}
.choose-coupons-ul li .right-get-btn {
    width: 1.08rem;
    text-align: left;
    letter-spacing: 0;
    text-indent: 0;
    font-size: 0.2708rem;
    right: 0;
}
.choose-use{
	width: 100%;
	height: 0.34rem;
	overflow: hidden;
	font-size: 0.2916rem;
	color: #666666;
	line-height: 0.34rem;
	position: relative;
	padding-left: 0.56rem;
	margin-top: 0.4rem;
	margin-bottom: 0.98rem;
}
.choose-use-sel{
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 0;
}
/*跳转新页面加载弹框*/
.jump-loading{
	width: 3.13rem;
	height: 2.25rem;
	border-radius: 0.12rem;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -1.125rem;
	margin-left: -1.565rem;
}
.jump-loading .loading-logo{
	width: 100%;
	height: 0.67rem;
	margin-top: 0.5rem;
	text-align: center;
}
.jump-loading .loading-logo img{
	width: 0.67rem;
	height: 100%;
}
.jump-loading .text-center{
	font-size: 0.2916rem;
	color: #FFFFFF;
	margin-top: 0.3rem;
}
/*支付返回弹框*/
.pay-return-alert .hava-address{
	height: 1.36rem;
	line-height: 1.36rem;
}
.pay-return-alert .wine-submit-down li{
	height: 1.2rem;
	line-height: 1.2rem;
}
.pay-return-alert .wine-submit-down .pay-right-sel{
	margin-top: 0.452rem;
}
.pay-return-alert{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 0.37rem 0;
    background-color: #ffffff;
}
.pay-return-alert .hava-address,.pay-return-alert .wine-submit-down li{
	padding: 0;
}
.pay-return-tit{
	height: 1.05rem;
	line-height: 1.05rem;
	
}
.pay-return-alert .kongbai,.pay-return-alert .kongbai2{
	width: 7.5rem;
	height: 0.16rem;
	margin-left: -0.37rem;
	background-color: #eeeeee;
}
.pay-return-alert .kongbai2{
	height: 0.25rem;
}
.pay-return-tit,.pay-return-tit span{
	font-size: 0.3333rem;
}
.pay-return-tit span{
	color: #d10000;
}
.pay-return-tit .pay-return-close{
	height: 100%;
	width: 0.27rem;
	display: inline-block;
	float: right;
}
.pay-return-tit .pay-return-close img{
	width: 100%;
	height: 0.27rem;
}
.pay-return-alert .continue-pay{
	display: inline-block;
	background-color: #d10000;
	color: #FFFFFF;
	font-size: 0.3333rem;
	width: 7.5rem;
	margin-left: -0.37rem;
	height: 1.05rem;
	line-height: 1.05rem;
}
/*确认弹框*/
.confirm-bounced-gray{
	display: block;
}
.confirm-bounced-alert{
	width: 5.8rem;
	height: 2.9rem;
	background-color: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1.45rem;
	margin-left: -2.9rem;
	border-radius: 0.08rem;
}
.confirm-bounced-gray .confirm-text{
	height: 2rem;
	line-height: 0.6rem;
	font-size: 0.3333rem;
	color: #666666;
	padding: 0.5rem 0.6rem 0;
	text-align: center;
	border-bottom: 0.01rem solid #eaeaea;
}
.confirm-bounced-alert .two-btn{
	width: 100%;
	height: 0.9rem;
	overflow: hidden;
}
.confirm-bounced-alert .give-up,.confirm-bounced-alert .think-again{
	width: 50%;
	height: 100%;
	float: left;
	font-size: 0.3333rem;
	color: #666666;
	line-height: 0.9rem;
	text-align: center;
}
.confirm-bounced-alert .think-again{
	color: #d10000;
	border-left: 0.01rem solid #eaeaea;
}
/*收货地址页面样式*/
.wine-submit-wrap::-webkit-scrollbar{
	display: none;
}
.get-address-ul{
	width: 100%;
}
.get-address-ul li,.get-address-ul .address-two-btn{
	padding: 0 0.37rem;
	width: 100%;
	background-color: #ffffff;
}
.get-address-ul .address-content{
	height: 1.87rem;
	padding: 0.2rem 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 0.01rem solid #dedede;
	position: relative;
}
.get-address-ul li{
	margin-bottom: 0.17rem;
	color: #666666;
	position: relative;
}
.get-address-ul .address-two-btn{
	height: 1.05rem;
	line-height: 1.05rem;
	padding: 0;
	overflow: hidden;
	color: #333333;
}
.get-address-ul .address-content .left-name{
	float: left;
	width: 1.2rem;
	height: 100%;
	font-size: 0.3124rem;
}
.address-content .editor-address{
	float: right;
	width: 0.8rem;
	text-align: right;
	margin-top: 0.57rem;
}
.address-content .editor-address img{
	width: 0.32rem;
	height: 0.33rem;	
}
.address-content .center-address{
	height: 100%;
	padding-left: 0.4rem;
	display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.address-content .center-address .phone-num{
	font-size: 0.3124rem;
	width: 100%;
}
.address-content .center-address .address-details{
	font-size: 0.2499rem;
	color: #999999;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.address-two-btn .left{
	float: left;
	font-size: 0.2708rem;
}
.address-two-btn .left .pay-right-sel{
	float: left;
}
.address-delete-btn{
	font-size: 0.2916rem;
	float: right;
}
.address-btm-btn{
	margin-top: 1.5rem;
	padding: 0 0.37rem;
	margin-bottom: 0.4rem;
}
.address-btm-btn .text-center{
	height: 0.95rem;
	border: 0.02rem solid #d10000;
	color: #d10000;
	line-height: 0.95rem;
	font-size: 0.3124rem;
	border-radius: 0.08rem;
}
.address-btm-btn .text-center img{
	width: 0.38rem;
	height: 0.37rem;
	margin-right: 0.1rem;
	position: relative;
	top: -0.03rem;
}
/*三级联动插件样式更改*/
.cascade_scroll_selects .scs_container .scs_dialog{
	background-color: #FFFFFF;
	border-radius: 0.15rem 0.15rem 0 0;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_btns .scs_btn{
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: 0.2916rem;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_item.scs_selected{
	color: #d10000;
	font-size: 0.3333rem;
	font-weight: normal;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_item{
	color: #666666;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_selects_group_title{
	font-size: 0.3333rem;
	color: #666666;
	height: 1.05rem;
	line-height: 1.04rem;
	border-bottom: 0.01rem solid #f0f0f0;
	font-weight: normal;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_btns .scs_btn_ok{
	background-color: #d10000;
}
.cascade_scroll_selects .scs_container .scs_dialog .scs_item{
	font-size: 0.2918rem;
}
.wine-submit-wrap .get-address-ul li:nth-child(2n){
	background-color: #fdf5f2;
}
.wine-submit-wrap .get-address-ul li:nth-child(2n) .address-two-btn{
	background-color: #fdf5f2;
}
/*地址的选中状态*/
.get-address-ul li .rainbow-line{
	width: 100%;
	height: 0.04rem;
	background: url(../imgs/rainbow-line-bg.png) 0 0 repeat-x;
	background-size: auto 100%;
	position: absolute;
	left: 0;
}
.get-address-ul li .rainbow-line1{
	top: 0;
}
.get-address-ul li .rainbow-line2{
	bottom: 0;
}
/*页面加载动画*/
.loading-wrap{
	width: 0.36rem;
	height: 0.36rem;
	margin-top: 0.6rem;
}
.m-load,.m-load2{width:0.36rem;height:0.36rem;position: absolute;}

 /** 加载动画的静态样式 **/
 .m-load2{position:relative;}
 .m-load2 .line div{position:absolute;left:0.16rem;top:0;width:0.03rem;height:0.36rem;}
 .m-load2 .line div:before,.m-load2 .line div:after{content:'';display:block;height:50%;background:#fcfcfc;border-radius:0.05rem;}
 .m-load2 .line div:nth-child(2){-webkit-transform:rotate(30deg);}
 .m-load2 .line div:nth-child(3){-webkit-transform:rotate(60deg);}
 .m-load2 .line div:nth-child(4){-webkit-transform:rotate(90deg);}
 .m-load2 .line div:nth-child(5){-webkit-transform:rotate(120deg);}
 .m-load2 .line div:nth-child(6){-webkit-transform:rotate(150deg);}
 .m-load2 .circlebg{position:absolute;left:50%;top:50%;width:0.16rem;height:0.16rem;margin:-0.08rem 0 0 -0.08rem;background:#535353;border-radius:0.18rem;}
 
 /** 加载动画 **/
 @-webkit-keyframes load{
     0%{opacity:0;}
     100%{opacity:1;}
 }
 .m-load2 .line div:nth-child(1):before{-webkit-animation:load 1.2s linear 0s infinite;}
 .m-load2 .line div:nth-child(2):before{-webkit-animation:load 1.2s linear 0.1s infinite;}
 .m-load2 .line div:nth-child(3):before{-webkit-animation:load 1.2s linear 0.2s infinite;}
 .m-load2 .line div:nth-child(4):before{-webkit-animation:load 1.2s linear 0.3s infinite;}
 .m-load2 .line div:nth-child(5):before{-webkit-animation:load 1.2s linear 0.4s infinite;}
 .m-load2 .line div:nth-child(6):before{-webkit-animation:load 1.2s linear 0.5s infinite;}
 .m-load2 .line div:nth-child(1):after{-webkit-animation:load 1.2s linear 0.6s infinite;}
 .m-load2 .line div:nth-child(2):after{-webkit-animation:load 1.2s linear 0.7s infinite;}
 .m-load2 .line div:nth-child(3):after{-webkit-animation:load 1.2s linear 0.8s infinite;}
 .m-load2 .line div:nth-child(4):after{-webkit-animation:load 1.2s linear 0.9s infinite;}
 .m-load2 .line div:nth-child(5):after{-webkit-animation:load 1.2s linear 1s infinite;}
 .m-load2 .line div:nth-child(6):after{-webkit-animation:load 1.2s linear 1.1s infinite;}

