.wine-wrap{
	padding: 1.05rem 0 0;
	height: 100%;
	overflow-y: scroll;
}
.person-gmx-logo{
	width: 6.94rem;
	height: 1.22rem;
	top: 0.24rem;
}
.person-upper{
	width: 100%;
	height: 5.41rem;
}
.agent-account-infor{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 0.82rem;
	color: #FFFFFF;
	text-align: center;
}
.agent-user-photo{
	width: 1.61rem;
	height: 1.61rem;
	margin: 0 auto;
	display: block;
	background-color: #FFFFFF;
	border-radius: 50%;
}
.agent-user-photo img{
	width: 100%;
	height: 100%;
}
.agent-account-infor .userName{
	font-size: 0.3151rem;
	margin-top: 0.1rem;
	line-height: 0.75rem;
}
.agent-account-infor .level{
	display: inline-block;
}
.agent-commission span{
	font-size: 0.25rem;
	color: #999999;
}
.agent-commission{
	text-align: center;
	margin-top: 0.45rem;
}
.agent-commission .span1{
	margin-right: 0.3rem;
}
.agent-timenav-tab{
	width: 100%;
	color: #333333;
}
.agent-timenav-tab table{
	width: 100%;
}
.agent-timenav-tab .tit-table td{
	font-size: 0.2912rem;
	color: #333333;
	height: 1.05rem;
	line-height: 1.05rem;
	border-bottom: 0.01rem solid #e4e4e4;
	position: relative;
	text-align: center;
}
.agent_ta_active span{
	width: 0.68rem;
	height: 0.05rem;
	background-color: #D10000;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -0.34rem;
	border-radius: 0.03rem;
}
.agent-timenav-tab .agent_ta_active{
	color: #D10000;
}
.agent-timenav-content{
	width: 100%;
	padding: 0 0.37rem;
}
.agent-timenav-content .estimate-revenue{
	height: 1.05rem;
	line-height: 1.05rem;
	font-size: 0.2917rem;
}
.agent-timenav-content .estimate-revenue span{
	font-size: 0.3751rem;
}
.agent-timenav-tab .revenue-table tr{
	height: 1.88rem;}
.agent-timenav-tab .revenue-table td{
	font-size: 0.4585rem;
	text-align: center;
}
.agent-timenav-tab .revenue-table td p{
	font-size: 0.25rem;
	color: #999999;
}
.agent-timenav-tab .revenue-table tr{
	border-top: 0.01rem solid #eaeaea;
	border-bottom: 0.01rem solid #eaeaea;
}
.agent-timenav-tab .revenue-table td:nth-child(2n+1){
	border-right: 0.01rem solid #eaeaea;
}
/*代理管理2*/
.agent-comm-manage{
	padding-bottom: 2.2rem;
}
.agent-comm-manage li{
	background-color: #FFFFFF;
	margin-bottom: 0.17rem;
	padding: 0 0.37rem;
}
.agent-order-comm{
	width: 100%;
	overflow: hidden;
	padding: 0.35rem 0 0.39rem;
}
.agent-comm-p{
	height: 1.34rem;
	float: left;
	display: inline-block;
	width: 50%;
	text-align: center;
}
.agent-comm-p span{
	width: 100%;
}
.agent-comm-p .left-span1,.agent-comm-p .right-span1{
	font-size: 0.5625rem;
	color: #3888ff;
}
.agent-comm-p .right-span1{
	color: #ff7b33;
}
.agent-comm-p .left-span2,.agent-comm-p .right-span2{
	font-size: 0.25rem;
	color: #999999;
}
.agent-order-comm .agent-comm-p:nth-child(2n+1){
	border-right: 0.01rem solid #dfdfdf;
}
.agent-manage-btm-text{
	font-size: 0.25rem;
	color: #999999;
	text-align: center;
	margin-top: 0.5rem;
}
.agent-manage-tit{
	height: 1.05rem;
	border-bottom: 0.01rem solid #eaeaea;
}
.agent-manage-tit span{
	height: 100%;
	line-height: 1.05rem;
}
.agent-manage-tit .name{
	font-size: 0.3125rem;
}
.agent-manage-tit .level{
	height: 0.38rem;
	padding: 0 0.2rem;
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.36rem;
	border-radius: 0.05rem;
	color: #d10000;
	font-style: italic;
	border: 0.01rem solid #d10000;
	margin-left: 0.16rem;
}
.agent-manage-tit .time{
	font-size: 0.25rem;
	color: #999999;
	float: right;
}
.agent-welfare{
	width: 100%;
	height: 1.45rem;
	background-color: #373737;
	padding: 0.34rem 0.37rem 0;
}
.agent-welfare p{
	font-size: 0.25rem;
	color: #999999;
	height: 0.38rem;
	line-height: 0.38rem;
}
.person-my .right img{
	margin-left: 0.1rem;
}
/*代理详情*/
.person-upper{
	width: 100%;
	height: 2.9rem;
	background: -webkit-linear-gradient(left, #272727, #000000);
    background: -o-linear-gradient(left, #272727, #000000);
    background: -moz-linear-gradient(left, #272727, #000000);
    background: -ms-linear-gradient(left, #272727, #000000);
	position: relative;
}
.person-gmx-logo{
	width: 6.94rem;
	height: 1.24rem;
	position: absolute;
	top: 0.16rem;
	right: 0;
}
.person-gmx-logo img{
	width: 100%;
	height: 100%;
}
.account-infor{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.8rem 0.37rem 0;
}
.agent-user-photo {
    width: 1.45rem;
    height: 1.45rem;
}
.account-infor .user-photo{
	width: 1.25rem;
	height: 1.25rem;
	margin-left: 0.1rem;
	background-color: white;
	border-radius: 50%;
	float: left;
}
.account-infor .account-infor-p{
	color: #FFFFFF;
	padding-left: 1.85rem;
	padding-top: 0.1rem;
}
.account-infor .userName{
	font-size: 0.3333rem;
	margin-right: 0.2rem;
}
.account-infor .level{
	height: 0.38rem;
	padding: 0 0.2rem;
	font-size: 0.25rem;
	text-align: center;
	line-height: 0.36rem;
	border-radius: 0.05rem;
	margin-top: 0.1rem;
	border: 0.01rem solid #FFFFFF;
	font-style: italic;
}
.account-infor .tel-num{
	font-size: 0.3333rem;
	color: #FFFFFF;
	padding-left: 1.85rem;
}
.agent-details-content{
	position: relative;
	top: -0.54rem;
	padding: 0 0.37rem;
}
.agent-details-top{
	background-color: #FFFFFF;
	border-radius: 0.1rem;
	margin-bottom: 0.17rem;
}
.agent-details-top .contribute{
	height: 1.45rem;
	line-height: 1.45rem;
	border-bottom: 0.01rem solid #e1e1e1;
}
.agent-details-top .contribute .num{
	color: #d10000;
	font-size: 0.5625rem;
	padding: 0 0.4rem;
}
.agent-details-top .contribute .text{
	font-size: 0.25rem;
	color: #999999;
}
.agent-details-top .returns-remind{
	font-size: 0.2083rem;
	height: 0.84rem;
	color: #999999;
	padding: 0 0.24rem;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
}
.agent-details-tit .name{
	color: #666666;
}
.agent-details-conm .agent-comm-p .left-span1{
    font-size: 0.4583rem;
    color: #333333;
}
.agent-details-conm .agent-comm-p .right-span1{
	font-size: 0.3333rem;
}
.agent-details-conm .agent-comm-p .not-get{
	color: #d10000;
	margin-top: 0.1rem;
}
.agent-details-conm .agent-comm-p .get{
	color: #3888ff;
	height: 100%;
	line-height: 1.34rem;
}
.agent-details-conm li{
	border-radius: 0.1rem;
}
/*经验明细*/
.experience-details li{
	border-radius: 0;
}
