.wine-wrap{
	height: 100%;
	background-color: #FFFFFF;
	overflow-y: scroll;
	padding: 0;
	position: relative;
	display: table;
}
.wine-login-wrap{
	width: 100%;
	display: table-cell;
    vertical-align: middle;
	
}
.login-tit-logo{
	width: 4.09rem;
	height: 1.50rem;
	margin: 0 auto;
}
.login-tit-logo img{
	width: 100%;
	height: 100%;
}
.login-middle{
	width: 100%;
	padding: 0 0.94rem;
}
/*输入框*/
.wine-identity-verify {
    height: 1.05rem;
    line-height: 1.05rem;
    border-bottom: 0.01rem solid #e7e7e7;
}
.wine-identity-verify .get-code-btn {
    height: 0.58rem;
    width: 1.87rem;
    display: block;
    font-size: 0.2916rem;
    color: #d10000;
    border-radius: 0.05rem;
    border: 0.03rem solid #d10000;
    float: right;
    padding: 0;
    margin-top: 0.235rem;
}
.wine-identity-verify input{
	height: 100%;
    font-size: 0.3749rem;
    width: 3rem;
    float: none;
    background-color: transparent;
    padding-left: 0.3rem;
    color: #666666;
}
.login-middle{
	margin-top: 2.95rem;
}
.wine-identity-verify2{
	margin-top: 0.4rem;
}
.wine-identity-verify input.text-left::-webkit-input-placeholder{
	font-size: 0.3124rem;
}
.login-btn{
	height: 1.05rem;
	width: 6.08rem;
	background-color: #e20000;
	color: #FFFFFF;
	display: block;
	font-size: 0.3957rem;
	margin: 1.3rem auto 0.27rem;
	border-radius: 1.05rem;
}
.agree-deal-div{
	width: 100%;
	text-align: center;
}
.agree-deal{
    text-align: center;
    display: inline-block;
    position: relative;
    height: 0.34rem;
}
.agree-deal span.text{
	font-size: 0.2916rem;
	color: #999999;
	height: 100%;
    line-height: 0.34rem;
}
.agree-deal span.sel{
	width: 0.34rem;
	height: 0.34rem;
	border-radius: 50%;
	border: 0.04rem solid #d10000;
	float: left;
	margin-right: 0.17rem;
}
.agree-deal span.sel img{
	width: 0.24rem;
	height: 0.16rem;
	margin-top: 0.05rem;
}
.agree_deal_active .sel{
	background-color: #d10000;
}
