body{
	overflow: hidden;
}
.do_task_m{
	width: 100%;
	height: 100%;
	background: url(../img/do_task_wrap_bg_m.png) 0 0 no-repeat;
	background-size: 100% 100%;
	padding-top: 3%;
}
.do_task_m_title{
	height: 4%;
	margin: 0 auto;
	margin-bottom: 2%;
}
.do_task_m_title_p{
	font-size: 0.15em;
	text-align: center;
	margin-bottom: 5%;
	color: white;
}
.slide{
	background-color: white;
	margin-top: 25%; 
}
.swiper-container {
	width: 100%;
	height: auto;
}
.swiper-slide>img{
	width: 100%;
}
.do_task_m_statement{
	width: 100%;
	text-align: center;
}
.offset_m_btn{
	width: 80%;
	margin: 0 auto;
	margin-top: 3%;
}
.do_task_m_statement{
	width: 100%;
	margin: 0 auto;
	height: 8%;
}
.do_task_m_statement_p1{
	font-size: 0.2em;
	margin-bottom: 2%;
	margin-top: 1%;
}
.do_task_m_statement_p2{
	font-size: 0.2em;
}
.do_task_m_statement p{
	color: white;
}
.do_task_bottom{
	width: 100%;
	min-width: 320px;
	max-width: 640px;
	padding: 0 10%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	bottom: 1%;
}
.do_task_btm_img{
	width: 12%;
	position: relative;
}
.do_task_bottom .do_task_btm_daysImg{
	width: 100%;
}
.do_task_btm_layer{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
	display: none;
	line-height: 100%;	
	line-height: 100%;
}
.do_task_btm_layer_show{
	display: block;
}
.layer_right{
	position: absolute;
	width: 80%;
	height: 50%;
	left: 10%;
	top: 25%;
	display: none;
}
.layer_excl_m{
	position: absolute;
	width: 20%;
	height: 50%;
	left: 40%;
	top: 25%;
	display: none;
}
.do_task_m_success_alert{
	width: 4.6em;
	height: 2.8em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.3em;
	margin-top: -1.4em;
	z-index: 10;
	background: url(../img/success_offset_m.png) 0 0 no-repeat;
	background-size: 100% 100%;
	display: none;
}
.do_task_m_success_alert img,
.do_task_m_fail_alert img{
	width: 40%;
	position: absolute;
	bottom: 10%;
	left: 30%;
}
.do_task_m_fail_alert{
	width: 4.6em;
	height: 2.8em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -2.3em;
	margin-top: -1.4em;
	z-index: 10;
	background: url(../img/fail_offset_m.png) 0 0 no-repeat;
	background-size: 100% 100%;
	display: none;
}
.do_task_content_m_complete{
	width: 60%;
	margin: 0 auto;
	display: none;
}

/*轮播图大图灰层*/
.do_task_m_big_layer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding-top: 45%;
	color: white;
	font-size: 1.0em;
	background-color: transparent;
}



@media only screen and (max-width: 640px){
	.do_task_content_m{
		height: 65%;
	}
	.swiper-container {
	    width: 100%;
	    height: 100%;
	}
	.swiper-slide>img {
	    width: 100%;
	    height: 100%;
	}
	.do_task_content_m_complete{
		width: 60%;
		height: 100%;
	}
}
@media only screen and (max-width: 320px){
	.do_task_content_m{
		height: 65%;
	}
	.swiper-container {
	    width: 100%;
	    height: 100%;
	}
	.swiper-slide>img {
	    width: 100%;
	    height: 100%;
	}
	.do_task_content_m_complete{
		width: 60%;
		height: 100%;
	}
	.do_task_bottom{
		padding: 0 5%;
	}
}
@media screen and (min-width: 360px) and (max-width:414px) {
	.do_task_m_title{
		margin-bottom: 3%;
	}
	.do_task_bottom{
		padding: 0;
	}
	.do_task_btm_img{
		width: 12%;
		position: relative;
	}
}