.add-card-wrap{
	width: 100%;
	height: 100%;
	padding-top: 1.13rem;
	padding-bottom: 1.1rem;
	overflow-y: scroll;
}
.add-card-ul{
	border-top: 0.01rem solid #ececec;
}
.add-card-ul li{
	height: 0.78rem;
	overflow: hidden;
	line-height: 0.77rem;
	padding: 0 0.3rem;
	border-bottom: 0.01rem solid #ececec;
}
.add-card-ul li span{
	display: inline-block;
	width: 1.5rem;
	font-size: 0.36rem;
	color: #666666;
	text-align:justify;
    text-align-last:justify;
    float: left;
}
.add-card-ul li input{
	font-size: 0.29rem;
	font-weight: lighter;
	color: #999999;
	height: 100%;
	float: left;
	padding: 0 0.3rem;
	width: 3.7rem;
}
.take-picture-btn{
	width: 1.34rem;
	height: 0.39rem;
	line-height: 0.39rem;
	font-size: 0.22rem;
	text-align: center;
	background-color: #d60303;
	float: right;
	border-radius: 0.06rem;
	color: white;
	font-weight: lighter;
	margin-top: 0.21rem;
}
