.control-submit-success-wrap{
	padding-top: .76rem;
}
.control-success-content{
	padding: 1.04rem 0 1.2rem;
}
.control-success-img{
	width: 1.32rem;
	height: 1.32rem;
	margin: 0 auto;
}
.control-success-text{
	font-size: .37rem;
	color: #666666;
	text-align: center;
	line-height: .9rem;
}
.control-success-advice{
	font-size: .25rem;
	color: #999999;
	text-align: center;
}
.control-return-href{
	width: 3.6rem;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	display: block;
	font-size: .44rem;
	color: #fff;
	background-color: #e94a26;
	margin: 0 auto;
	border-radius: .08rem;
}
