body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:36px;
  width:280px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:450px;
  top:55px;
  width:650px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:102px;
  width:1200px;
  height:1028px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1028px;
}
#u7 {
  position:absolute;
  left:2px;
  top:506px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:128px;
  width:10px;
  height:42px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u9 {
  position:absolute;
  left:100px;
  top:200px;
  width:1000px;
  height:920px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:920px;
}
#u10 {
  position:absolute;
  left:2px;
  top:452px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:200px;
  width:70px;
  height:920px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:920px;
}
#u12 {
  position:absolute;
  left:2px;
  top:452px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:200px;
  width:70px;
  height:70px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u14 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:117px;
  top:210px;
  width:36px;
  height:36px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:108px;
  top:250px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:100px;
  top:270px;
  width:70px;
  height:70px;
  color:#282828;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u20 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:117px;
  top:278px;
  width:36px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:108px;
  top:321px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:266px;
  top:302px;
  width:98px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:431px;
  top:302px;
  width:53px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:574px;
  top:302px;
  width:75px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:740px;
  top:302px;
  width:75px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:893px;
  top:302px;
  width:57px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:208px;
  top:318px;
  width:842px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:825px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:842px;
  height:1px;
}
#u36 {
  position:absolute;
  left:253px;
  top:338px;
  width:109px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:431px;
  top:338px;
  width:39px;
  height:16px;
  color:#669900;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:575px;
  top:338px;
  width:39px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:750px;
  top:338px;
  width:28px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:886px;
  top:338px;
  width:47px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:179px;
  top:210px;
  width:289px;
  height:49px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:49px;
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:206px;
  top:215px;
  width:74px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:121px;
  top:124px;
  width:59px;
  height:60px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:60px;
}
#u50 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:190px;
  top:129px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:190px;
  top:149px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:190px;
  top:169px;
  width:114px;
  height:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:284px;
  top:260px;
  width:64px;
  height:21px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:378px;
  top:260px;
  width:64px;
  height:21px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:355px;
  top:264px;
  width:20px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:1px;
}
#u62 {
  position:absolute;
  left:208px;
  top:262px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:431px;
  top:117px;
  width:87px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:33px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:432px;
  top:154px;
  width:38px;
  height:16px;
  color:#FF0000;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:470px;
  top:154px;
  width:48px;
  height:16px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:527px;
  top:128px;
  width:10px;
  height:42px;
}
#u70_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u70_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u70_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u71 {
  position:absolute;
  left:551px;
  top:125px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:556px;
  top:152px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:327px;
  top:120px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:20px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:327px;
  top:150px;
  width:60px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:327px;
  top:150px;
  width:73px;
  height:29px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:610px;
  top:152px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:605px;
  top:125px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#66FF00;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:665px;
  top:152px;
  width:28px;
  height:16px;
  color:#FFFFFF;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:660px;
  top:125px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:708px;
  top:128px;
  width:10px;
  height:42px;
}
#u89_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u89_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u89_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u90 {
  position:absolute;
  left:738px;
  top:128px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:738px;
  top:154px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:775px;
  top:127px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:775px;
  top:153px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:831px;
  top:128px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:831px;
  top:154px;
  width:27px;
  height:16px;
  color:#F2F2F2;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:868px;
  top:127px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:868px;
  top:153px;
  width:38px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#66FF00;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:19px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
