body{
	background-color: #f3f5f7;
}
.wine_mine_wrap{
	padding: 0.8rem 0 1.5rem;
}
.wine_mine_user{
	background-color: #cd222f;
    padding: 0.2rem 0.2rem 0.4rem;
}
.wine_mine_user_left{
	overflow: hidden;
}
.wine_mine_photo{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    float: left;
	margin-right: 0.2rem;
}
.wine_mine_photo img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.wine_mine_name{
	display: inline-block;
	height: 1.4rem;
}
.wine_mine_name .wine_mine_name_p1{
	font-size: 0.34rem;
	color: white;
	margin-bottom: 0.3rem;
    margin-top: 0.2rem;
}
.wine_mine_name .wine_mine_name_p2{
	font-size: 0.26rem;
	color: white;
}
.wine_mine_user_right{
	width: 0.4rem;
    height: 0.4rem;
    float: right;
    margin-top: 0.6rem;
}
.wine_mine_user_right img{
	width: 100%;
	height: 100%;
}
.wine_order{
	width: 100%;
	box-sizing: border-box;
	background-color: #f8f8f8;
	border: 0.01rem solid #d7d7d7;
	padding: 0.1rem 0.2rem 0.25rem;
}
.wine_order .wine_order_span1{
	float: left;
	font-size: 0.3rem;
}
.wine_order .wine_order_span2{
	float: right;
	color: #acacac;
	font-size: 0.26rem;
}
.wine_order .wine_order_span2 img{
	display: inline-block;
	height: 0.27rem;
	position: relative;
	top: -0.04rem;
}
.wine_order_bottom{
	width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}
.wine_order_bottom li{
	height: 1rem;
    list-style: none;
}
.wine_order_bottom li img{
    margin:0 auto;
    height: 1rem;
}
.wine_mine_wrap .wine_members{
	border-bottom: 1px solid #d7d7d7;
}
