::-webkit-scrollbar{
	display: none;
}
.wine_header{
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    height: 0.8rem;
    background-color: #d9333f;
    position: fixed;
    z-index: 999999;
    overflow: hidden;
	font-family: "黑体";
}
.wine_header img{
    position: absolute;
    height: 0.34rem;
    top: 0.23rem;
    left: 0.3rem;
}
.wine_header p{
    letter-spacing: 2px;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 0.78rem;
    box-sizing: border-box;
}
.wine_header_right{
	font-size: 0.3rem;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 0.78rem;
    margin-right: 0.2rem;
}
