body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:41px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:81px;
  width:486px;
  height:1094px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:1094px;
}
#u3 {
  position:absolute;
  left:2px;
  top:539px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
