body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:643px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:643px;
}
#u1 {
  position:absolute;
  left:2px;
  top:314px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:116px;
  width:1020px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:1016px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:258px;
  top:156px;
  width:53px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:267px;
  top:182px;
  width:29px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:418px;
  top:156px;
  width:92px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:441px;
  top:182px;
  width:29px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:627px;
  top:156px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:641px;
  top:182px;
  width:29px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:810px;
  top:156px;
  width:66px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:822px;
  top:182px;
  width:34px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:170px;
  top:226px;
  width:1020px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:1016px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:252px;
  top:266px;
  width:66px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:270px;
  top:292px;
  width:29px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:599px;
  top:266px;
  width:79px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:624px;
  top:292px;
  width:29px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:1009px;
  top:266px;
  width:66px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1028px;
  top:292px;
  width:29px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:252px;
  top:323px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:270px;
  top:349px;
  width:29px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:586px;
  top:323px;
  width:92px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:624px;
  top:349px;
  width:29px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:996px;
  top:323px;
  width:79px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1028px;
  top:349px;
  width:29px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:996px;
  top:156px;
  width:92px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1041px;
  top:182px;
  width:8px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:170px;
  top:82px;
  width:140px;
  height:28px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1028px;
  top:82px;
  width:120px;
  height:28px;
  font-size:12px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
}
#u53 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
