.wine-card-gray{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.5);
}
.wine-card-wrap{
	width: 500px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
}
.wine-card-img{
	width: 456px;
	height: 488px;
	margin: 12px auto 0;
	position: relative;
}
.wine-card-img img{
	width: 100%;
	height: 100%;
}
.wine-card-delete{
	position: absolute;
	top: 0;
	right: 35px;
	width: 39px;
	height: 38px;
}
.wine-card-text{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 70px 70px 0 60px;
}
.wine-card-text .text{
	color: #333333;
	font-size: 25px;
	display: inline-block;
	width: 100%;
	float: left;
}
.wine-card-text .text2{
	width: 220px;
}
