body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:123px;
  top:51px;
  width:129px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:116px;
  top:89px;
  width:144px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:130px;
  width:126px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:125px;
  top:130px;
  width:126px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:249px;
  top:130px;
  width:126px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:180px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:24px;
  top:214px;
  width:346px;
  height:64px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:64px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:24px;
  top:300px;
  width:326px;
  height:205px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:205px;
}
#u19 {
  position:absolute;
  left:2px;
  top:94px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
