@charset "utf-8";
/*
    Document   : CSS样式初始化
    Created on : 2015. 11. 12,14:12:00
    Author     :QinZhe
    Description:
    CSS样式表的初始化，全局样式设置。部分样式属性请根据具体页面重置其属性
	导入方式：<link href="css/reset.css" rel="stylesheet" type="text/css" />
*/
/* reset */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: "microsoft yahei",Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
}
fieldset,img {
	border:0 none;
}  /* 重置fieldset（表单分组）、图片的边框为0*/
blockquote, q {
	quotes: none;
}   /* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after,q:before, q:after {
	content:'';
	content:none;
}  /* 重置嵌套引用*/
input,select,textarea,button {
	vertical-align:middle;
}  /* 重置表单控件垂直居中*/
button {
	border:0 none;
	background-color:transparent;
	cursor:pointer;
}  /* 重置表单button按钮效果 */
body {
	background:#fff;
}   /* 重置body 页面背景为白色 */
body, input, textarea, select, button, table {
	font-size: 16px;
	line-height: 1.25em;
}/* 重置页面文字属性 */
body {
	font-size: 1em;
	font-family: 'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
	color: #000;
}
a {
	color:#666;
	text-decoration:none;
}  /* 重置链接a标签 */ 
a:active, a:hover {
	text-decoration:none;
}   /* 重置链接a标签的鼠标滑动效果 */
address,caption,cite,code,dfn,em,var {
	font-style:normal;
	font-weight:normal;
}  /* 重置样式标签的样式 */
caption {
	display:none;
}    /* 重置表格标题为隐藏 */
img{
	vertical-align:top;
}  /* 图片在当前行内的垂直位置 */
/* 页面设置 */
  /* 取消a标签点击后的虚线框 */
a {
	outline: none;
}  
a:active {star:expression(this.onFocus=this.blur());}
 /* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */ 
/* 
::selection {color: #fff;background-color: #4C6E78;}    
::-moz-selection {color: #fff;background-color: #4C6E78;} 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}