@charset "utf-8";
.pad-change {
	padding: 0;
	border-bottom: 1px solid #dedede;
}
.search-tab {
	display: table;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #dedede;
	border-width: 0 0 1px 0;
}
.search-tab li {
	display: table-cell;
	width: 23%;
	text-align: center;
	border-right: 1px solid #e2e2e2;
}
.search-tab li.sort-by-integrative {
	width: 31%;
}
.search-tab li.li-change-eleven {
	width: 20%;
	border-right: 0;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.search-tab li.li-change-eleven {
	width: 20%;
	border-right: 0;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.search-tab li a {
	display: block;
	margin: 0 auto;
	padding: 13px 0;
	color: #9a9a9a;
	font-size: 16px;
	text-decoration: none;
}
.search-tab li.active a {
	color: #f15353;
	padding-bottom: 11px;
}
.border-change {
	border-bottom: 0 solid transparent;
}
.search-tab li.sort-by-integrative.active a:after {
	content: "";
	display: inline-block;
	width: 18px;
	height: 10px;
	background-position: -180px 2px;
	margin-left: 4px;
}
.search-tab li.sort-by-price a:after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 10px;
	background-position: -170px -30px;
	margin-left: 4px;
}
.choose-icon {
	background: url(../img/icon-updown-arrow.png);
	background-size: 50px 50px;
	background-position: -2px -32px;
	width: 15px;
	height: 13px;
	display: inline-block;
}
.sub-tab-integrative {
	position: relative;
}
.submenu-mask {
	position: absolute;
	width: 100%;
	opacity: .6;
	font-size: 0;
	background: #000;
}
.sub-tab-integrative ul {
	width: 100%;
	position: absolute;
	background: rgba(255,255,255,0.8);
	padding: 7px 0;
	border-bottom: 1px solid #bfbfbf;
	border-width: 0 0 1px 0;
}
.sub-tab-integrative li {
	color: #848689;
	font-size: 15px;
	padding: 7px 0 7px 15px;
}
.sub-tab-integrative li.active {
	color: #f15353;
}
.list_body, .list_body li {
	display: block;
}
.list_body {
	background: #f3f5f7;
	height: 100%;
}
.list_body .list-li-changeh {
	height: 110px;
	position: relative;
}
.list_body li {
	border-bottom: 1px solid #dedede;
	border-width: 0 0 1px 0;
	min-height: 106px;
}
.list-thumb {
	float: left;
	width: 85px;
	height: 85px;
	background: url(../img/543cc730N6707c16a.jpg) no-repeat;
	background-size: 85px 85px;
	margin: 10px;
	line-height: 0;
}
.list-descriptions {
	width: 100%;
	padding-top: 10px;
}
.list-descriptions-wrapper {
	margin-left: 105px;
}
.product-name {
	font-size: 14px;
	color: #252525;
	line-height: 19px;
	height: 38px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 6px;
	padding-right: 10px;
}
.name-changesize {
	font-size: 13px;
	margin-bottom: 5px;
	line-height: 16px;
	height: 30px;
	color: #252525;
}
.yingfuxianjin{
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	height: 15px;
	line-height: 15px;
}
.yingfuxianjin i{
	color: #f15353;
	font-style:normal;
}
.yingfuxianjin span{
	padding-right: 7px;
	color:#333;
}
.reputation-unit{
	margin-top:3px;
}
.reputation .ratings {
	font-size: 12px;
	color: #848689;
	padding-right: 4px;
}
.reputation span {
	display: table-cell;
	vertical-align: top;
}
.list_content_mask {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 11110;
	display:none;
}
.sidebar-content {
	position: absolute;
	top: 0;
	left: 100%;
	width: 90%;
	height: 100%;
	overflow: scroll;
	background: rgba(0,0,0,0.7);
	z-index: 105;
	display:none;
}
.sidebar-header {
	background: #fff;
	height: 44px;
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #bfbfbf;
	width: 100%;
	right: 0;
	position: fixed;
	top: 0;
	z-index: 11;
	font-size: 0;
	margin: 0;
	padding: 0;
}
.sidebar-header-left {
	float: left;
	width: 65%;
	overflow: hidden;
}
.sidebar-header-left, .sidebar-header-center, .sidebar-header-right {
	float: left;
	width: 33.3%;
	color: #9a9a9a;
}
.sidebar-header-left {
	text-align: left;
}
.sidebar-header span {
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
	padding: 14px 7px;
}
.sidebar-header-left span {
	margin-left: 7px;
	display: block;
	background: url(../img/xgmx-sprites.png) no-repeat;
	background-size: 200px 200px;
	background-position: -23px 1px;
	width: 16px!important;
	height: 22px!important;
	margin: 11px 15px;
	padding: 0;
}
.sidebar-header span {
	display: inline-block;
	font-size: 16px;
	line-height: 16px;
}
.sidebar-header-center {
	text-align: center;
}
.sidebar-header .sidebar-header-center span {
	font-size: 18px;
	color: #000;
}
.sidebar-header-right {
	text-align: right;
}
.sidebar-header:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.sidebar-items-container {
	height: 100%;
	overflow: auto;
	width: 100%;
	background: #fff;
}
.sidebar-items-container {
	height: 100%;
	overflow: auto;
	width: 100%;
	background: #f4f5f7;
}
.spacer44 {
	height: 44px;
}
.sidebar-delivery-info {
	width: 100%;
	height: 45px;
	color: #252525;
	overflow: hidden;
}
.sidebar-delivery-info {
	height: 43px;
	line-height: 43px;
	font-size: 15px;
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #bfbfbf;
	background: #fff no-repeat right center;
	background-size: 28px 15px;
}
.sidebar-delivery-address {
	float: right;
	width: 200px;
	text-align: right;
}
.sidebar-delivery-address .arrow {
	content: "";
	width: 16px;
	height: 9px;
	background-position: -180px -30px;
	display: block;
	float: right;
	margin: 17px 14px 0 8px;
}
.sidebar-delivery-address .arrow, .filter-tree-list.sidebar-categories>li .arrow {
	width: 16px;
	height: 16px;
	background-position: -180px -49px;
	margin-top: 13px;
}
.sidebar-delivery-address small {
	width: 160px;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: right;
	color: #f15353;
	margin-right: 28px;
	font-size: 13px;
}
.sidebar-delivery-to {
	float: left;
	width: 60px;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 15px;
}
.sidebar-delivery-info:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.diver20 {
	height: 10px;
	background: #f8f8f8;
}
.sidebar-list, .sidebar-list ul {
border-width: 1px 0 0 0;
border-top: 1px solid #bfbfbf;
}
.sidebar-items-container ul {
	background: #fff;
}
ul.sidebar-list.sidebar-conditions.condition-unit-box {
	overflow: hidden;
	padding-bottom: 10px;
	padding-right: 10px;
	border-width: 1px 0;
}
.sidebar-list li {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #bfbfbf;
	font-size: 1px;
}
.sidebar-list.sidebar-conditions li {
	margin-left: 10px;
}
.sidebar-list.sidebar-conditions.condition-unit-box li {
	width: 80px;
	height: 30px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	line-height: 28px;
	margin-top: 10px;
	border-image: none;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.sidebar-list li span, .sidebar-list li li span {
	height: 43px;
	line-height: 43px;
	font-size: 15px;
	color: #252525;
}
.sidebar-list.sidebar-conditions.condition-unit-box li span {
	line-height: 28px;
	height: 100%;
	display: inline-block;
	font-size: 13px;
}
.sidebar-list, .sidebar-list ul {
	border-width: 1px 0 0 0;
	border-top: 1px solid #bfbfbf;
}
.sidebar-items-container ul {
	background: #fff;
}
ul.sidebar-list.sidebar-categories.filter-tree-list {
	margin-top: 10px;
}
.sidebar-list li {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #bfbfbf;
	font-size: 1px;
}
.sidebar-list a {
	display: block;
}
.sidebar-categories>li .arrow {
	content: "";
	width: 16px;
	height: 9px;
	background-position: -180px -30px;
	display: block;
	float: right;
	margin: 17px 14px 0 8px;
}
.sidebar-delivery-address .arrow, .filter-tree-list.sidebar-categories>li .arrow {
	width: 16px;
	height: 16px;
	background-position: -180px -49px;
	margin-top: 13px;
}
.sidebar-categories span {
	display: inline-block;
	width: 46%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.sidebar-list li span, .sidebar-list li li span {
	height: 43px;
	line-height: 43px;
	font-size: 15px;
	color: #252525;
}
.sidebar-categories span.sort-of-brand {
	width: 42%;
}
.filter-tree-list span.sort-of-brand {
	height: 100%;
}
.sidebar-categories>li span:nth-child(2) {
	margin-left: 15px;
}
.sidebar-categories small {
	float: right;
	height: 43px;
	line-height: 43px;
	font-size: 13px;
	color: #848689;
	text-align: right;
	display: inline-block;
	white-space: nowrap;
}
.sidebar-categories small.sort-of-brand {
	width: 35%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.sidebar-clear-settings {
	margin: 20px auto;
	width: 120px;
	height: 29px;
	line-height: 29px;
	font-size: 12px;
	color: #6a6a6a;
	text-align: center;
	border: 1px solid #c3c4c6;
	border-radius: 2px;
	background: #fff;
}
.sidebar-header span {
display: inline-block;
font-size: 16px;
line-height: 16px;
}
.sidebar-header-right span {
margin-right: 7px;
}