@charset "utf-8";
.new-load-more {
	padding:25px 0;
	text-align:center;
	border-top:1px solid #fcfbf9;
	cursor:pointer;
}
.new-spinner {
	z-index:10;
	height:80px;
	width:100px;
	text-align:center;
	display:none;
}
