@charset "utf-8";
/* CSS Document */
html{
	font-size: 100%;
}
.order-form{
	width:1200px;
	margin:50px auto 40px;
}
.Receiving-address h3{
	font-size:14px;
}
.addbox{
	overflow:hidden;
	margin-top:15px;
}
.addbox dl{
	font-size:12px;
	float:left;
	width:212px;
	height:85px;
	margin-right:10px;
	border:5px solid #ddd;
	border-image:url(../img/border.png) 5 round;
	padding:5px;
	position:relative;
}
.addbox dl p{
	position:absolute;
	top:-5px;
	right:-5px;
	padding:3px;
	background:rgba(0,0,0,0.4);
	color:#fff;
}
.addbox dl dt{
	border-bottom:1px solid #f2f2f2;
	line-height:24px;
}
.addbox dl dd{
	margin-top:4px;
}
.addbox dl dd a{
	color:#cc9977;
}
.addbox dl dd a:hover{
	text-decoration:underline;
	color:red;
}
.addbox>dl:last-of-type{
	margin-right:0;
}
.Administration{
	overflow:hidden;
	width:100%;
	margin-top:20px;
}
.Administration a{
	display:block;
	font-size:12px;
	color:#cc9977;
}
.Administration a:hover{
	text-decoration:underline;
	color:red;
}
.Administration .admleft{
	float:left;
}
.Administration .admright{
	float:right;
}
.Payment-method{
	margin-top:36px;
}
.Payment-method h3{
	font-size:14px;
}
.Payment-method ul{
	overflow:hidden;
	margin-top:10px;
	font-size:12px;
}
.Payment-method ul li{
	float:left;
	margin-right:10px;
	background:#868686;
	width:102px;
	height:25px;
	text-align:center;
	line-height:25px;
	color:#fff;
	cursor:pointer;
}
.Payment-method ul li.ontheli{
	background:#ff9933;
	font-weight:600;
}
.Order-list{
	margin-top:40px;
	font-size:12px;
}
.Order-list h3{
	font-size:14px;
}
.Order-list table{
	margin-top:20px;
}
.Order-list th{
	line-height:30px;
}
.Order-list td{
	border-top:3px solid #b2d1ff;
	padding:10px 0;
}
.Order-list table dt img{
	width:56px;
	height:56px;
}
.Order-list table dl{
	overflow:hidden;
}
.Order-list table dt,.Order-list table dd{
	float:left;
}
.Order-list table dt{
	margin-left:10px;
	margin-right:5px;
}
.Advantage{
	overflow:hidden;
	margin-top:10px;
}
.Advantageleft{
	float:left;
}
.Advantageleft img{
	margin-right:2px;
}
.Advantageright{
	float:right;
	margin-left:10px;
}
.Advantageright span{
	color:#999;
}
.numbox{
	overflow:hidden;
	width:82px;
	margin:auto;
}
.numbox div{
	float:left;
}
.numbox div input{
	border:1px solid #ccc;
	height:17px;
	width:34px;
	text-align:center;
}
.Symbol{
	width:11px;
	height:11px;
	border:1px solid #ccc;
	line-height:12px;
	text-align:center;
	font-size:10px;
	margin:3px 5px;
	cursor:pointer;
}
.leave-a-message{
	overflow:hidden;
}
.leave-a-message div{
	float:left;
	width:33%;
}
.leaveleft{
	padding-left:5px;
}
.leaveleft input{
	width:248px;
	height:20px;
	border:1px solid #ccc;
}
.xiugainame a{
	color:#cc9977;
}
.xiugainame a:hover{
	color:red;
	text-decoration:underline;
}
.xiugainame input{
	width:50px;
}
.hejimany span{
	display:block;
	text-align:right;
}
.Cost-information{
	border-bottom:1px dashed #ccc;
	padding:30px 0;
	overflow:hidden;
}
.diyong{
	margin-top: -30px;
	float: right;
	overflow:hidden;
}
.diyong p{
	float:left;
	margin-left:30px;
	line-height:30px;
}
.costbox{
	float:right;
	overflow:hidden;
}
.costbox p{
	float:left;
	margin-left:30px;
	line-height:30px;
}
.costbox p i{
	font-style:normal;
	font-size:16px;
	font-weight:600;
	color:#ff4500;
	line-height:24px;
}
.subican{
	overflow:hidden;
	margin-top:30px;
}
.subican input{
	display:block;
	width:82px;
	height:37px;
	background:#b10000;
	color:#fff;
	float:right;
}
.mallname{
	font-size:14px;
}
.zhifuway{
	margin-top: 50px;
	width: 1200px;
	height: 70px;
}
.zhifuway p{
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}
.hongbao{
	width: 1200px;
	margin-top: 20px;
}
.tit{
	width: 1200px;
	height: 30px;
	font-size: 14px;
	border-bottom: 1px dashed #ccc;
}
.tit img{
	margin-right: 8px;
}
.hongbao-list{
	margin-top: 20px;
	height: 150px;
}
.hongbao-list li{
	float: left;
	margin-right: 14px;
	width: 109px;
	height: 96px;
}
li.green{
	width: 109px;
	height: 96px;
    background-image: url(../img/xiaogreen.png);
    background-size: 109px 96px;
}
li.green img{
	display: none;
	position: absolute;
}
li.green .active img{
	display: block;
}
/*.hongbao-list li i{
	display: none;
	position: absolute;
}*/

.cont{
    width:90px;
    height: 60px; 
    padding-top: 22px;
    margin:0 auto;
}
li p{
    z-index: 2;
    line-height:14px; 
    font-size: 0.5em;
    color: #fff;
    text-align: center;
}
li p .span1{
    font-size: 20px;
}
li p .span2{
    font-size: 30px;
}
li .p1{
    margin-top: 10px;
}
li .p2{
    margin-top: 15px;
}