* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a {
	text-decoration:none;
}
.new-ct {
	min-height:320px;
}
.wrap {
	min-width:320px;
	margin:0 auto;
}
.s_b {
	vertical-align:middle;
}
.s_b .s_t {
	background:#f1f1f5;
	height:36px;
	font-size:14px;
	line-height:36px;
}
.s_b .s_t span {
	margin-left:10px;
}
.s_b .s_l {
	list-style:none;
	margin-left:10px;
	margin-bottom:15px;
	border-top:1px solid #c8c7cc;
}
.s_b .s_l li {
	display:list-item;
	line-height:38px;
}
.s_b .s_l li i{
	font-style:normal;
	color:#999;
}
.s_b .s_l li span {
	color:#999;
	float:right;
	margin-right:10px;
}
.border-bt {
	border-bottom:1px solid #c8c7cc;
}
