@charset "utf-8";
/* CSS Document */
.o-de{
	border:1px solid #e6e6e6;
	margin:40px 0;
}
.flowstate{
	width:876px;
	height:38px;
	background:#ebebeb;
	box-shadow:0 -5px 38px #d8d8d8 inset;
	margin:16px auto;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.flowstate ul{
	overflow:hidden;
}
.flowstate ul li{
	float:left;
	width:232px;
}
.flowstate ul>li:last-of-type{
	width:180px;
}
.flowstate ul li i{
	font-style:normal;
	display:inline-block;
	width:52px;
	text-align:center;
}
.flowstate ul li span{
	display:inline-block;
	width:180px;
	height:38px;
	color:#4e4e4e;
	font-weight:600;
	line-height:38px;
	text-align:center;
}
.flowstate ul li span.ckas{
	background:#f39732;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	color:#fff;
}
.o-detime{
	overflow:hidden;
	background:#e6e6e6;
	width:850px;
	height:30px;
	margin:20px auto;
	padding:7px 40px;
	line-height:30px;
}
.o-detime i{
	font-style:normal;
	color:#f39732;
}
.delivery{
	float:left;
	font-weight:600;
}
.timesure{
	float:right;
	font-size:14px;
}
.timesure a{
	display:inline-block;
	padding:0 18px;
	background:#F39732;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
	font-weight:600;
}
.yijing{
	color:#0188cc;
}
.order-information{
	width:928px;
	margin:20px auto;
	border:1px solid #e6e6e6;
}
.order-information h3{
	color:#666;
}
.order-informain{
	padding:17px;
	font-size:12px;
}
.orderaddmain li{
	margin:8px 0;
}
.orderaddmain li b{
	font-weight:500;
	margin-right:8px;
}
.shangpinmain{
	width:890px;
	margin:20px auto 10px;
	border:1px solid #e6e6e6;
}
.shangpinmain table{
	width:100%;
}
.shangpinmain th{
	background:#f2f2f2;
	font-size:14px;
	line-height:44px;
}
.shangpinmain td{
	border-top:1px solid #e6e6e6;
	padding:10px 0;
}
.hohobs{
	overflow:hidden;
}
.hohobs img{
	float:left;
	display:block;
	margin:0 10px;
	width:77px;
	height:56px;
}
.hohobs p{
	float:left;
	width:230px;
	margin-top:10px
}
.shangpinmain td i{
	font-style:normal;
	font-size:16px;
	font-weight:600;
}
.fuchumoney{
	overflow:hidden;
}
.fuchumoney ul{
	float:right;
}
.fuchumoney ul:after{
	display:block;
	height:0;
	content:"";
	clear:both;
	visibility:hidden;
}
.fuchumoney ul li{
	float:left;
	margin-left:20px;
}
.fuchumoney ul li i{
	font-style:normal;
	color:#f34700;
	font-size:18px;
	font-weight:600;
}
.browse{
	border:1px solid #e6e6e6;
}
.browsemain ul{
	overflow:hidden;
}
.browsemain ul li{
	width:201px;
	float:left;
	padding:10px 5px;
}
.danyichanpin{
	width:201px;
}
.danyichanpin a,.danyichanpin img{
	display:block;
	width:201px;
	height:152px;
}
.danyichanpin p{
	margin:10px 5px;
	font-size:14px;
}
.danyichanpin p i{
	font-size:18px;
	font-style:normal;
	color:#f34700;
	font-weight:600;
}