@charset "utf-8";
.sift-mg {
	padding: 12px 10px;
}
.new-goods-details {
	padding: 10px;
}
.new-gd-introduce {
	padding-bottom: 10px;
	border-bottom: 1px solid #e8e5e5;
}
.new-fl {
	float: left;
}
.new-mg-r12 {
	margin-right: 12px;
}
.new-gd-introduce .new-fl.w56 {
	height: 56px;
}
.new-gd-txt2 .new-gd-txt3, .new-gd-introduce .new-gd-txt3 {
	display: block;
	overflow: hidden;
}
.new-gd-introduce p, .new-gd-introduce ol, .new-gd-introduce span {
	font-size: 14px;
	color: #6c6c6c;
}
.new-span-block {
	display: block;
}
.iysih{
	padding-bottom:5px;
}
.new-mg-t5 {
	margin-top: 5px;
}
.new-gd-introduce .new-txt36 {
	display: inline-block;
	font-size: 36px;
	color: #e4393c;
	vertical-align: -14px;
}
.new-gd-introduce .new-txt-sign {
	display: inline-block;
	font-size: 18px;
	color: #6c6c6c;
	vertical-align: -14px;
	}
.new-gd-introduce .new-txtb8 {
	display: inline-block;
	width: 64px;
	color: #b8b8b8;
}
.new-gd-bar {
	display: inline-block;
	width: 100px;
	height: 13px;
	background-color: #b8b8b8;
	vertical-align: -2px;
}
.new-mg-l12 {
	margin-left: 12px;
}
.new-gd-bar span {
	display: block;
	height: 13px;
	background-color: #e4393c;
}
.new-gd-introduce .new-gd-txt3{
	padding-top:3px;
}
.tab-lst {
	display: table;
	width: 100%;
	border-bottom: 1px solid #fff;
}
.tab-lst li {
	display: table-cell;
	width: 25%;
	text-align: center;
}
.tab-lst li a {
	border-bottom: 1px solid #d1ccc8;
}
.tab-lst li a {
	display: block;
	padding: 10px 0;
	color: #b8b4b2;
	font-size:1.4rem;
	text-shadow: 1px 1px 1px rgba(255,255,255,.2);
}
.tab-lst li a.on {
	border-bottom: 1px solid #eb4f4f;
	color: #eb4f4f;
}
.bar, .sift .bar, .sift .bar2 {
	float: left;
	width: 1px;
	height: 18px;
	margin-top: 2px;
	background-color: #ded6c9;
	vertical-align: middle;
}
.bar {
	width: 1px;
	height: 20px;
	color: #c8c7cc;
	vertical-align: top;
}
.spinner {
	z-index: 10;
	height: 80px;
	width: 100px;
	text-align: center;
	display: block;
}
.spinner .wait-text {
	padding-top: 160px;
}
.detail {
	position: relative;
	padding: 5px 0;
	font-size: .75em;
	color: #5a5a5a;
}
.detail p {
	padding: 3px;
	margin: 2px 0;
}
.mu-star {
	display: inline-block;
	overflow: hidden;
	width: 70px;
	height: 13px;
	background: url(../img/ic_star.png) repeat-x 0 -13px;
	font-size: 0;
	vertical-align: -1px;
}
.detail .user_id {
	position: relative;
	padding-bottom: 10px;
	color: #b8b4b2;
}
.detail .user_id .time {
	position: absolute;
	right: 0;
	top: 0;
}
.detail .more {
	position: absolute;
	right: 10px;
	top: 28px;
	width: 60px;
	color: #b8b4b2;
	font-size: 12px;
	background: url(../img/right.png) 100% 50% no-repeat;
	text-align: center;
}
.parting-line {
	height: 1px;
	background: #ddd8d4;
	border-bottom: 1px solid #fcfbf9;
}
.star-width5 {
	width: 100%;
}
.mu-starv {
	display: inline-block;
	height: 13px;
	background: url(../img/ic_star.png) repeat-x 0 0;
}

.txt13{
	font-size:1.2rem;
	margin-top:5px;
	display:block;
}
.sliding .mc {
	color: #3c3c3c;
}
.common-border {
	border-bottom: 1px solid #dacea8;
	box-shadow: 0 1px 0 #fff;
}
.clear {
	clear: both;
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.u-info {
	color: #999;
	font-size: .875em;
}
.fr {
	float: right;
}
.common-input {
	font-size: 1em;
	background-color: #F4F4F4;
	border: 1px solid #a4a4a4;
	padding-left: 8px;
	padding-top: 3px;
	line-height: 18px;
	-moz-box-shadow: 0 1px 3px #c8c8c8 inset;
	-webkit-box-shadow: 0 1px 3px #c8c8c8 inset;
	box-shadow: 0 1px 3px #c8c8c8 inset;
	vertical-align: text-top;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.list .mc a {
	color: #3c3c3c;
}
.sub_btn {
	display: block;
	background: -webkit-gradient(linear,left top,left bottom,from(#ed3131),to(#990a0a));
	background: -moz-linear-gradient(top,#ed3131,#990a0a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3131',endColorstr='#990a0a');
	background-color: red;
	border: none;
	width: 90%;
	margin: 10px auto 0;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-shadow: 1px 0 0 #000;
	border-bottom: 1px solid #bcb0a3;
}