@charset "utf-8";
/* CSS Document */

.faterul{
	font-size:12px;
	margin:10px 0;
}
.faterul:after{
	content:"";
	display:block;
	height:0;
	visibility:hidden;
	clear:both;
}
.faterul .left,.faterul .center,.faterul .right{
	float:left;
	line-height:25px;
}
.faterul .left{
	width:100px;
	text-align:right;
	
}
.faterul .left i{
	color:#ff4500;
	font-style:normal;
	display:inline-block;
	margin-right:5px;
}

#divselect{width:189px; position:relative; z-index:100;}
#divselect cite{width:153px; height:25px;line-height:25px; display:block; color:#807a62; cursor:pointer;font-style:normal;
padding-left:4px; padding-right:30px; border:1px solid #999;}
#divselect ul{width:187px;border:1px solid #999; background-color:#ffffff; position:absolute; z-index:200; margin-top:-1px; display:none;}
#divselect ul li{height:25px; line-height:25px;}
#divselect ul li a{display:block; height:25px; color:#333333; text-decoration:none; padding-left:10px; padding-right:10px;}
#divselect ul li a:hover{background-color:#CCC;}

.faterul .firstt{
	margin-left:10px;
	color:#ff4500;
}
.faterul .right b{
	display:inline-block;
	width:14px;
	height:14px;
	border:1px solid #FF4500;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	font-size:8px;
	text-align:center;
	line-height:14px;
	margin-right:5px;
}
.faterul .center input{
	width:187px;
	height:25px;
	border:1px solid #808080;
}
.faterul .center textarea{
	resize:none;
	width:536px;
	height:100px;
	padding:5px;
	border:1px solid #808080;
	outline:none;
	display:block;
}
.faterul .center span{
	display:block;
}
.faterul .center .hetsm{
	position:relative;
}
.faterul .center .hetsm .txt{
	border:1px solid #808080;
	width:218px;
	height:24px;
	display:inline-block;
}
.faterul .center .hetsm .btn{
	display:inline-block;
	background-color:#fff;
	border:1px solid #808080;
	width:50px;
	height:26px;
	color:#666;
}
.faterul .center .hetsm .file{
	position:absolute;
	top:0;
	left:0;
	filter:alpha(opacity=0);
	opacity: 0;
	width:218px;
}
.tjreturnB{
	margin-left:100px;
}
.tjreturnB input{
	width:150px;
	height:40px;
	background:#ff4500;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#fff;
	font-size:14px;
	font-weight:600;
	cursor:pointer;
}