html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
body {
	line-height:1;
}
ol,ul {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	font-family:'华文细黑','microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
}
html,body {
	width:100%;
}
.topfixed {
	position:static;
	left:0;
	top:0;
	z-index:10;
	width:100%;
	background-color:#FFF;
}
.topfixed.hide {
	top:-88px;
}
.topfixed.showAni {
	-webkit-transition:top .3s ease-in;
	-ms-transition:top.3s ease-in;
	-moz-transition:top .3s ease-in;
	transition:top .3s ease-in;
	top:0;
}
.bgsplit {
	height:15px;
	background-color:#f3f4f6;
}
.head {
	height:44px;
	text-align:center;
	color:#FFF;
	font-size:15px;
	position:relative;
	background-color:#e4393c;
	line-height:44px;
	vertical-align:middle;
}
.head .go-back {
	position:absolute;
	left:15px;
	width:12px;
	height:12px;
	border:solid #FFF;
	border-width:0 0 1px 1px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	transform:rotate(45deg);
	top:16px;
}
.tap-list {
	width:100%;
	overflow:hidden;
}
.tap-list li {
	float:left;
	width:25%;
	height:44px;
	color:#686868;
	font-size:13px;
	text-align:center;
	padding-top:8px;
	position:relative;
	border-bottom:1px solid #e1e1e1;
}
.tap-list li span {
	position:absolute;
	height:15px;
	width:1px;
	background-color:#9c9c9c;
	right:0;
	top:14px;
}
.tap-list li p:nth-child(2) {
	margin-top:4px;
	font-size:12px;
}
.tap-list li.cur {
	border-bottom:2px solid #e4393c;
	color:#e4393c;
}
.list-head {
	border-top:1px solid #e1e1e1;
	height:40px;
	padding-left:20px;
	line-height:40px;
	vertical-align:middle;
	color:#252525;
	font-size:15px;
}
.list-head .time {
	float:right;
	margin-right:20px;
}
.red {
	color:#e4393c;
}
.list-head .time .red {
	margin-left:15px;
}
.good-list {
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	padding:0 20px;
}
.good-list li {
	height:100px;
	padding:15px 0;
	position:relative;
	border-bottom:1px solid #e1e1e1;
}
.good-list li:last-child {
	border:0;
}
.good-list a {
	display:block;
	text-decoration:none;
	overflow:hidden;
	color:#252525;
	font-size:14px;
}
.good-list img {
	width:76px;
	height:76px;
	float:left;
	margin-right:13px;
	border:1px solid #e1e1e1;
	vertical-align:middle;
}
.g-title {
	height:32px;
	overflow:hidden;
	font-size:14px;
	color:#252525;
	line-height:16px;
	margin-bottom:13px;
}
.g-price {
	color:#e4393c;
	font-size:14px;
	margin-bottom:3px;
}
.g-price-odd {
	font-size:11px;
	color:#b5b5b5;
}
.good-list li .count {
	width:50px;
	height:20px;
	position:absolute;
	bottom:10px;
	right:0;
	background-color:#ff7878;
	color:#FFF;
	text-align:center;
	vertical-align:middle;
	line-height:20px;
	font-size:12px;
}
.good-list li.over,.good-list li.over a,.good-list li.over .g-title,.good-list li.over .g-price,.good-list li.over .g-price-odd {
	color:#b5b5b5;
}
.good-list li.over .count {
	background-color:#b5b5b5;
}
.mask {
	position:absolute;
	bottom:10px;
	color:#FFF;
	font-size:12px;
	height:76px;
	width:76px;
	background-color:rgba(256,256,256,.8);
}
.mask p {
	position:absolute;
	width:100%;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	text-align:center;
	background-color:rgba(0,0,0,.8);
	bottom:0;
	opacity:.8;
}
.page-next {
	display:block;
	height:42px;
	line-height:42px;
	vertical-align:middle;
	color:#252525;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	position:relative;
}
.page-next::after {
	content:"";
	width:8px;
	height:8px;
	display:inline-block;
	border:solid #bcbcbe;
	border-width:0 1px 1px 0;
	-webkit-transform:rotate(-45deg);
	position:absolute;
	right:20px;
	top:15px;
}
body .footer{
	/*display: none;
    width: 100%;
    height: 46px;
    min-width: 320px;*/
    background: url(../img/foot.png);
     background-size: 100% 46px;
   

}