.common-wrapper, body {
	background-color: #f8f8f8;
}
.common-wrapper {
	width: 100%;
	position: relative;
	max-width: 640px;
	min-width: 320px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 16px;
	padding-bottom: 20px;
}
.main {
	padding: 20px 15px 0;
}
.main .item {
	position: relative;
	width: 100%;
}
.main .item, .main .item-captcha .input-info {
	margin-bottom: 10px;
}
.main .item .err-msg {
	font-size: 13px;
	color: #f25454;
}
.main .item .txt-input {
	width: 100%;
	height: 44px;
	line-height: normal;
	padding: 0;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	background: #fff;
	font-family: '\5fae\8f6f\96c5\9ed1';
	font-size: 16px;
	color: #252525;
	-webkit-appearance: none;
}
.main .item .txt-captcha, .main .item .txt-password, .main .item .txt-username {
	padding-left: 15px;
}
.main .item-captcha #captcha-img {
	position: absolute;
	right: 0;
	top: 9px;
	width: 79px;
	height: 25px;
	padding-left: 7px;
	border-left: 1px solid #d7d7d7;
}
.main .item .txt-phone {
	padding-left: 15px;
	width: 53.31034482758621%;
}
.main .item-phone .btn-retransmit {
	float: right;
	overflow: hidden;
	width: 44.13793103448276%;
	height: 42px;
	border: 1px solid #f15353;
	border-radius: 3px;
	background: #fff;
	line-height: 44px;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
	color: #f15353;
}
.main .item-phone .btn-retransmit-disabled {
	box-shadow: none;
	border: 1px solid #e2e2e2;
	background: #e2e2e2;
	cursor: default;
	color: #bdbdbd;
}
.main .item-login-option:after, .main .item:after {
	content: '\20';
	clear: both;
}
.main .item:after {
	display: block;
}
.main .item-sms-captcha {
	margin-bottom: 10px;
}
.main .item-sms-captcha .txt-sms-captcha {
	float: left;
	padding-left: 15px;
}
.main .item-password .tp-btn {
	display: block;
	position: absolute;
	right: 10px;
	top: 8px;
	width: 51px;
	height: 35px;
}
.main .item-password .btn-on {
	background: url(../img/qiehuan.png) no-repeat;
	background-size: 51px 35px;
}
.main .item-password .btn-off {
	background: url(../img/guanbi.png) no-repeat;
	background-size: 51px 35px;
}
.main .item-password .err-tips {
	margin: 13px 0 24px;
	font-size: 13px;
	color: #848689;
}
.main .item-password .err-tips a {
	color: #f25454;
	border-bottom: 1px solid #f25454;
	display: inline-block;
	height: 18px;
}
.main .item-btns .btn-login, .main .item-btns .btn-next {
	display: inline-block;
	width: 100%;
	height: 40px;
	border-radius: 3px;
	background: #f25454;
	text-decoration: none;
	line-height: 39px;
	text-align: center;
	font-size: 17px;
	color: #fff;
}
.main .item-btns .btn-disabled {
	background: #e2e2e2;
	cursor: default;
	color: #bdbdbd;
}