body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:36px;
  width:280px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:450px;
  top:55px;
  width:650px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:102px;
  width:1200px;
  height:1018px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1018px;
}
#u7 {
  position:absolute;
  left:2px;
  top:501px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:310px;
  top:128px;
  width:10px;
  height:42px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u9 {
  position:absolute;
  left:330px;
  top:135px;
  width:72px;
  height:28px;
  color:#FF0000;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:412px;
  top:130px;
  width:38px;
  height:16px;
  color:#FF0000;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:412px;
  top:149px;
  width:48px;
  height:16px;
  color:#FF0000;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:470px;
  top:128px;
  width:10px;
  height:42px;
}
#u15_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u15_end {
  position:absolute;
  left:-5px;
  top:25px;
  width:20px;
  height:18px;
}
#u15_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:42px;
}
#u16 {
  position:absolute;
  left:490px;
  top:128px;
  width:610px;
  height:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:490px;
  top:154px;
  width:610px;
  height:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:200px;
  width:1000px;
  height:920px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:920px;
}
#u21 {
  position:absolute;
  left:2px;
  top:452px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:100px;
  top:200px;
  width:70px;
  height:920px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:920px;
}
#u23 {
  position:absolute;
  left:2px;
  top:452px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:100px;
  top:200px;
  width:70px;
  height:70px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:117px;
  top:210px;
  width:36px;
  height:36px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:108px;
  top:250px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:100px;
  top:270px;
  width:70px;
  height:70px;
  color:#282828;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u31 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:117px;
  top:278px;
  width:36px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:108px;
  top:321px;
  width:53px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:181px;
  top:207px;
  width:271px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:22px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:265px;
  top:270px;
  width:87px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:412px;
  top:270px;
  width:47px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:539px;
  top:270px;
  width:67px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:687px;
  top:270px;
  width:67px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:823px;
  top:270px;
  width:51px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:949px;
  top:270px;
  width:51px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:208px;
  top:286px;
  width:842px;
  height:10px;
}
#u50_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_end {
  position:absolute;
  left:825px;
  top:-5px;
  width:18px;
  height:20px;
}
#u50_line {
  position:absolute;
  left:0px;
  top:5px;
  width:842px;
  height:1px;
}
#u51 {
  position:absolute;
  left:253px;
  top:306px;
  width:97px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:412px;
  top:306px;
  width:35px;
  height:16px;
  color:#669900;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:540px;
  top:306px;
  width:35px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:696px;
  top:306px;
  width:25px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:817px;
  top:306px;
  width:42px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:920px;
  top:304px;
  width:41px;
  height:20px;
  font-size:11px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:967px;
  top:304px;
  width:41px;
  height:20px;
  font-size:11px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:37px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:292px;
  top:220px;
  width:68px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u66 {
  position:absolute;
  left:121px;
  top:124px;
  width:59px;
  height:60px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:60px;
}
#u67 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:190px;
  top:129px;
  width:40px;
  height:16px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:190px;
  top:149px;
  width:88px;
  height:16px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:190px;
  top:169px;
  width:114px;
  height:16px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
