body,html{
	width: 100%;
	height: 100%;
	min-width: 1200px;
	background-color: #fff;
}
input,button{
	border: none;
	outline: none;
	padding: 0;
}
.m-site-top{
	width: 100%;
	height: 53px;
	margin-bottom: 20px;
	background-color: #333333;
}
.container{
	height: 53px;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.nav-left,.nav-right{
	float: left;
	font-size: 14px;
	line-height: 53px;
	color: #e7e7e7;
	font-weight: lighter;
}
.nav-left a,.nav-right-ul li a{
	color: #e7e7e7;
}
.nav-login{
	margin-left: 35px;
	margin-right: 15px;
}
.nav-register{
	margin-right: 30px;
}
.nav-right{
	float: right;
}
.nav-address i{
	font-size: 12px;
}
.container a:hover,.container span:hover{
	color: #fff;
	font-weight: bold;
}
.nav-right-ul{
	overflow: hidden;
}
.nav-right-ul li{
	float: left;
	width: 75px;
	text-align: center;
	position: relative;
}
.nav-right-ul li>a,.nav-right-ul li>span{
	width: 100%;
	display: block;
}
.nav-right-ul .home-link:before{
	content: '\e678';
	margin-right: 5px;
}
.nav-right-ul li:after{
	content: '|';
	position: absolute;
    right: 0;
    top: 0;
}
.nav-right-ul li:nth-last-child(1):after{
	display: none;
}
.present-user{
	display: inline-flex;
    position: relative;
}
.nav-userName .userPhoto{
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
	background-color: #d3c9bc;
	position: relative;
    top: 10px;
    overflow: hidden;
}
.nav-userName .userPhoto img{
	width: 100%;
	height: 100%;
	display: block;
}
.userName{
	margin-right: 20px;
    display: inline-flex;
    position: relative;
}
.userName i{
	display: inline-block;
	width: 80px;
	overflow: hidden;
	white-space: nowrap;
	text-align: right;
	padding-right: 2px;
	font-style: inherit;
}
.userName:after{
	content: '\e602';
	position: absolute;
    right: -25px;
    font-size: 28px;
}
.nav-user-list{
	width: 100px;
	height: 0;
	text-align: center;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 53px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 28px rgba(0,0,0,.1);
    box-shadow: 0 3px 28px rgba(0,0,0,.1);
    z-index: 2;
}
.nav-user-list li{
	height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.nav-user-list li a{
	color: #666;
	display: block;
	width: 100%;
	height: 100%;
}
.nav-user-list li:hover a{
	color: #845f3f!important;
    font-weight: bold;
}
.present-user:hover .nav-user-list{
	height: auto;
	color: #fff;
}
.home_nav{
	width: 100%;
	height: 58px;
	margin-bottom: 5px;
	top: 0;
	background-color: #fff;
	z-index: 2;
}
.home_nav_content{
	width: 1200px;
	height: 58px;
	margin: 0 auto;
	position: relative;
}
.home-logo{
	float: left;
	display: block;
	width: 173px;
	height: 51.5px;
	padding-top: 6.5px;
	box-sizing: border-box;
	margin-right: 115px;
}
.home-logo img{
	width: 100%;
	height: 100%;
}
.home_nav_center{
	height: 100%;
	line-height: 58px;
	overflow: hidden;
	display: inline-block;
}
.home_nav_center li{
	float: left;
	margin-right: 30px;
	font-size: 20px;
}
.home_nav_center li a{
	color: #666666;
}
.home_nav_center li a:hover{
	color: #845f3f;
}
.home_nav_right{
	float: right;
	padding-top: 10px;
  	-webkit-perspective: 10000px; /* larger the value, the less pronounced the 3D effect */
    -moz-perspective: 10000px;
    perspective: 10000px;
}
.home_nav_inp{
	width: 309px;
	height: 38px;
	padding-left: 30px;
	color: #333333;
	font-size: 16px;
	float: left;
	position: relative;
	box-sizing: border-box;
	border-bottom: 2px solid #e3e4e5;
}
.home_nav_inp:before{
	content: '\e696';
	position: absolute;
	left: 2px;
	font-size: 20px;
	line-height: 38px;
}
.home_nav_inp input{
	width: 100%;
	height: 100%;
	font-weight: lighter;
}
.home-cart{
	font-size: 30px;
	float: left;
	margin-left: 20px;
	color: #353535;
	position: relative;
	-webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); /* flip horizontally 180deg*/
    transform: rotateY(180deg);
}
.home-cart .num{
	width: auto;
	height: 14px;
	padding: 0 2px;
	line-height: 14px;
	border-radius: 7px;
	background-color: #c00000;
	position: absolute;
	left: -5px;
	top: 5px;
	color: #FFF;
	font-size: 12px;
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg); /* flip horizontally 180deg*/
    transform: rotateY(-180deg);
}
.nav-part{
	width: 60px;
    height: 24px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
	left: 190px;
    top: 17px;
    border: 1px solid #efefef;
    display: none;
}
.nav-part:after{
	content: '\e602';
	font-size: 30px;
	position: absolute;
	right: 0;
}
