body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
html{
     background-color: #f0f0f2;
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.newsdetails-box{
    width: 100%;
    background-color:#f0f0f2
}
.main-top{
    width: 100%;
    height: 39px;
    background-color: #548e11;
}
.main-top img{
    position: absolute;
    float: left;
    width: 12px;
    margin-top: 10px;
    margin-left: 15px;

}

.main-top p.ok{
    width: 36px;
    float: right;
    margin-top: -40px;
    margin-right: 13px;
    color: #fff;

}

.main-top p{
    width: 100%;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height:39px;
}
.main-top .goback span{
    display: block;
    float: right;
    font-size: 14px;
    color: #fff;
    margin-top: -28px;
    margin-right: 15px;

}
.tit{
    padding: 0px 13px;
}
.tit p{
    height: 40px;
    line-height: 40px;
    color: #000;
    font-size: 12px;
}
.tit input{
    width: 100%;
    border-radius:4px;
    background-color: #fff;
    border:1px solid #dddddd;
    height: 40px;
    font-size: 12px;

}
.tit textarea{
    width: 100%;
    border-radius:4px;
    background-color: #fff;
    border:1px solid #dddddd;
    height: 300px;
    font-size: 12px;
}