body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
html{
    background-color:#ebebeb
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.tihuoquan-box{
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
}
.main-top{
    width: 100%;
    height: 39px;
    background-color: #548e11;
    font-family:"微软雅黑";
}
.main-top img{
    position: absolute;
    float: left;
    width: 10px;
    margin-top: 10px;
    margin-left: 13px;

}
.main-top p{
    width: 100%;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height:39px;
}
.dian-tit{
    width: 100%;
    padding: 8px 19px;
    background-color: #fff;
    border-bottom:1px solid #bcbcbc;
}
.dian-tit img{
    width: 53px;
    float: left;
}
.dian-tit .cont{
    padding: 5px;
    margin-left: 60px;
}
.dian-tit .cont p{
   color: #000;
   font-size: 14px;
   letter-spacing: 1px;
   line-height: 20px;
}
.dian-tit .cont p.p2{
   color: #888588;
   font-size: 12px;
   line-height: 20px;
}
.dian-tit .cont p.juli{
    color:#888588;
    letter-spacing:0px;
    font-size: 12px;
}
p.middle{
    width: 100%;
    padding-left: 10px;
    line-height: 35px;
    background-color: #fff;
    color: #888588;
    font-size: 12px;

}
p.middle img{
    width: 20px;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}
p.middle img.img2{
    margin-left: 109px;
    margin-top: -28px;
    position: absolute;
}
.number{
    width: 100%;
    margin-top: 10px;
    background-color: #fff;
}
.number p{
    padding-left: 15px;
    color: #888588;
    font-size: 12px;
    line-height: 25px;
}
.number p.juanma{
    line-height: 35px;
    color: #000;
    font-size: 14px;
    border-top:1px solid #bcbcbc;
}
.number p.juanma span.right{
    float: right;
    margin-right: 15px;
    color:  #888588;
}
.tihuo p{
    padding-left: 15px;
    font-size: 12px;
    background-color: #fff;
    width: 100%;
    height: 30px;
    line-height: 28px;
    margin-top: 15px;
    border-top:1px solid #bcbcbc;
    border-bottom:1px solid #bcbcbc;
}
.tihuo p img{
    width: 20px;
    float: left;
    margin-top: 3px;
    margin-right: 12px;
}
.tihuo p span{
    float: right;
    margin-right: 15px;
}