body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-family: "微软雅黑";
}
html{
     background-color: #f0f0f2;
}
img{
  border:0;
  display: block;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.zhifu-box{
    width: 100%;
    background-color:#f0f0f2
}
.main-top{
    width: 100%;
    height: 39px;
    background-color: #548e11;
}
.main-top img{
    position: absolute;
    float: left;
    width: 10px;
    margin-top: 10px;
    margin-left: 13px;

}
.main-top img.serch{
    position: relative;
   /* position: absolute;*/
    float: right;
    width: 18px;
    margin-top: -28px;
    margin-right: 13px;

}
.main-top p{
    width: 100%;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height:39px;
}
.yonghu{
    margin-top:7px;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    line-height: 30px;
    font-size: 14px;
    color: #000;
}
.yonghu p.dizhi{
    color: #827c82;
    line-height: 20px;
}
.yonghu p.right{
    float: right;
     margin-top: -20px;
     color: #000;
     font-size: 25px;
     margin-left: 10px;
}
.select{
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    height: 80px;
    background-color: #fff;
    line-height: 33px;
    font-size: 14px;
}
.select p{
    width: 100%;
    height: 33px;
}
.select p span{
    float: left;
}
.select p img{
    width: 22px;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 20px;
}
.select p span.money{
    color: #827c82;
    margin-left: 20px;
}
.select p span.xuan{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border:1px solid #827c82;
    float: right;
}
.select p span.xuan img{
    width: 17px;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
}
.select p span.xuan img.active{
    display: block;
}
.youhui{
    height: 40px;
    line-height: 20px;
}
.youhui p span img{
    margin-top: 1px;
}
.youhui p span.money{
    height: 20px;
    padding:8px;
    background-color: #e63c2c;
    color: #fff;
    line-height: 6px;
}


.jiesuan{
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
    height: 120px;
    background-color: #fff;
    line-height: 33px;
    font-size: 14px;
}
.jiesuan p{
    width: 100%;
    height: 33px;
}
.jiesuan p.top{
    margin-bottom: 10px;
}
.jiesuan p span{
    float: left;
}
.jiesuan p img{
    width: 22px;
    vertical-align: top;
    margin-top: 5px;
    margin-right: 20px;
}
.jiesuan p span.geshu{
    color: #827c82;
    margin-left: 20px;
}
.jiesuan p span.qian{
  
    float: right;
}
.fukuan{
    position: absolute;
    bottom: 0;
    max-width: 640px;
    min-width: 320px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-top:1px solid #a8a4a3;
    border-bottom: 1px solid #a8a4a3;
}
.fukuan p{
    font-size: 16px;
    width: 50%;
    float: left;
    line-height: 38px;
    text-align: center;
    color: #e84e40;
}
.fukuan p.anniu{
    background-color: #e84e40;
    color: #fff;

}
