/*导航栏样式更改*/
.life_nav_search_inp{
	left: 15%;
}
.life_search_wrap{
	width: 100%;
	padding-top: 1.20rem;
}
.life_hot_search{
	width: 100%;
}
.life_hot_search_title,.life_hot_search_title2{
    font-size: 0.28rem;
    line-height: 0.8rem;
	color: #9d9d9d;
	padding-left: 3%;
}
.life_hot_search_title2{
	padding-left: 0;
}
.life_hot_search_content{
	width: 100%;
	font-size: 0;
}
.life_hot_search span{
	border: 1px solid #d3d3d3;
	color: #666666;
    font-size: 0.30rem;
    display: inline-block;
    padding: 0.15rem 0.30rem;
    border-radius: 0.1rem;
    margin-bottom: 0.16rem;
    margin-left: 0.2rem;
}
.life_search_history{
	width: 100%;
	padding: 0 3%;
	margin-top: 1em;
}
.life_search_history li{
	font-size: 0.30rem;
	width: 100%;
    padding: 0.25rem 0 0.1rem;
	color: #222222;
	border-bottom: 1px solid #d3d3d3;
}
.life_clear_his{
	margin-top: 0.3rem;
	font-size: 0.30rem;
	width: 100%;
	border-radius: 0.1rem;
	line-height: 0.7rem;
	text-align: center;
	color: #222222;
	border: 1px solid #d3d3d3;
}
