.life_billing_wrap{
	width: 100%;
	height: 100%;
	padding-top: 1.00rem;
	overflow-y: scroll;
}
.life_billing_logo{
	padding-top: 0.45rem;
	text-align: center;
}
.life_billing_logo img{
	margin: 0 auto;
	height: 1.03rem;
    width: 1.03rem;
}
.life_billing_name{
	text-align: center;
	font-size: 0.36rem;
    line-height: 0.8rem;
}
.life_billing_money{
	text-align: center;
	font-size: 0.72rem;
}
.life_bond_payment{
    overflow: hidden;
    padding: 0 3%;
    line-height: 1.00rem;
    font-size: 0.36rem;
    border-bottom: 0.01rem solid #d3d3d3;
}
.life_bond_payment_span1{
	float: left;
	color: #9d9d9d;
}
.life_bond_payment_span2{
	float: right;	
	color: #222222;
}
.life_billing_message{
    overflow: hidden;
    padding: 0 3%;
    line-height: 0.7rem;
    font-size: 0.36rem;
}
.life_sure_btn{
    width: 80%;
    background-color: #ff5858;
    color: white;
    line-height: 0.86rem;
    text-align: center;
    font-size: 0.38rem;
    margin-left: 10%;
    margin-top: 0.7rem;
    border-radius: 0.08rem;
    display: inline-block;
    margin-bottom: 1rem;
}
