::-webkit-scrollbar{
  display:none;
}
.life_Qrcode_wrap{
	width: 100%;
	height: 100%;
	background-color: #d9333f;
	box-sizing: border-box;
}
.life_Qrcode_content{
    width: 100%;
    height: 100%;
	background-color: white;
	border: 0.30rem solid #d9333f;
	border-bottom: 0.55rem solid #d9333f;
	overflow-y: scroll;
}
.life_Qrcode_title{
	padding-left: 3%;
	font-size: 0.36rem;
	color: #d9333f;
	line-height: 1.00rem;
	border-bottom: 0.01rem solid #d3d3d3;
}
.life_Qrcode_title img{
	height: 0.42rem;
  width: 0.42rem;
	display: inline-block;
}
.life_merchants_name{
	font-size: 0.34rem;
	text-align: center;
	line-height: 2.40rem;
	color: #222222;
}
.life_merchants_Qrcode{
    width: 3.50rem;
    height: 3.50rem;
    margin: 0 auto;
}
.life_merchants_Qrcode img{
	width: 100%;
	height: 100%;
}
.life_save_btn{
	display: inline-block;
	font-size: 0.34rem;
	line-height: 0.7rem;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	margin-top: 0.8rem;
	border-radius: 0.2rem;
	color: #FFFFFF;
	margin-bottom: 0.5rem;
	background-color: #d9333f;
}
