::-webkit-scrollbar{
  display:none;
}
.full_eva_wrap{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #efefef;
	padding-top: 1.00rem;
	background-color: #efefef;
}
.syn_score_wrap{
	width: 100%;
	padding: 0.3rem 0;
	background-color: white;
	overflow: hidden;
	border-bottom: 0.01rem solid #dadada;
}
.syn_score_left,.syn_score_right{
	float: left;
}
.syn_score_left{
	width: 40%;
	text-align: right;
}
.syn_score_left .p1{
	font-size: 0.72rem;
	color: #ffd800;
}
.syn_score_left .p2{
	font-size: 0.24rem;
	padding-right: 0.25rem;
}
.syn_score_right{
	width: 60%;
	padding-left: 5%;
	font-size: 0.24rem;
}
.syn_star_level img{
  width: 0.2rem;
  height: 0.2rem;
	display: inline-block;
}
.syn_star_level{
	position: relative;
  top: -0.05rem;
  margin-left: 0.15rem;
}
.syn_score_right p{
	margin-top: 0.2rem;
}
.syn_score_right .syn_score{
	color: #ffd800;
	font-size: 0.28rem;
}
.full_eva_content{
	width: 100%;
	background-color: white;
	padding-bottom: 1.00rem;
	margin-top: 0.2rem;
	border-top: 0.01rem solid #dadada;
}
.full_eva_content .full_content_title{
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0.3rem 0;
	border-bottom: 1px solid #dadada;
}
.full_content_title span{
	width: 22%;
	display: inline-block;
	border: 0.02rem solid #cccccc;
	text-align: center;
	font-size: 0.24rem;
	color: #484545;
	line-height: 0.55rem;
	border-radius: 0.1rem;
}
.full_eva_center{
	width: 100%;
}
.full_eva_ul li{
	padding: 0.2rem 4%;
	box-sizing: border-box;
	border-bottom: 1px solid #dadada;
	overflow: hidden;
}
.full_eva_ul li:nth-last-child(1){
	border-bottom: none;
}
.full_eva_ul li>div{
	float: left;
}
.eva_left_photo{
	width: 20%;
}
.eva_right_details{
	width: 80%;
	padding-top: 0.2rem;
}
.eva_left_photo img{
	border-radius: 50%;
	width: 85%;
}
.full_eva_star,.full_eva_img{
	overflow: hidden;
}
.full_eva_star img{
	float: left;
	width: 0.2rem;
	height: 0.2rem;
}
.full_eva_img img{
	float: left;
	width: 1.33rem;
	height: 1.33rem;
	margin-right: 0.22rem;
	margin-bottom: 0.2rem;
}
.full_eva_user{
	overflow: hidden;
}
.full_eva_user span{
	font-size: 0.3rem;
	color: #484545;
}
.full_eva_user .span_name{
	float: left;
}
.full_eva_user .span_time{
	float: right;
	font-size: 0.22rem;
	color: #cccccc;
}
.eva_right_details p{
	margin-bottom: 0.15rem;
}
.full_eva_ul .full_eva_remark{
	font-size: 0.3rem;
	color: #484545;
	line-height: 0.4rem;
}
.full_eva_ul .spend_time{
	font-size: 0.22rem;
	color: #cccccc;
}
/*评价头部选中状态*/
.full_content_title .span_click{
	border-color: #ffa100;
	color: #ffa100;
}