@charset "utf-8";
/* CSS Document */

.nav-box{
	width:1200px;
	margin:auto;
	overflow:hidden;
}
.navce{
	width:208px;
	border:1px solid #ff4500;
	border-top:none;
	height:465px;
	float:left;
	position:relative;
	background:#ff4500;
}
.navce ul{
	padding:3px 0 3px 10px;
}
.navce ul:hover{
	background:#fff;
	width:208px;
	z-index:15;
}
.navce ul:hover li a{
	color:#ff4500;
	border-right:1px solid #ff4500;
	text-decoration:underline;
}
.navce ul li{
	font-size:14px;
	overflow:hidden;
}
.navce ul li a{
	display:block;
	float:left;
	border-right:1px solid #fff;
	padding:0 5px;
	font-family:"宋体";
	margin:2px 0;
	color:#fff0eb;
	font-size:14px;
}
.navce ul li a:hover{
	font-weight:600;
}
.navce ul .textboxm{
	position:absolute;
	left:209px;
	top:-1px;
	width:949px;
	height:426px;
	border:1px solid #ff4500;
	border-top:none;
	border-left:none;
	z-index:41;
	background:#fff;
	display:none;
	padding:20px;
	overflow:hidden;
}
.textboxm .textleft{
	float:left;
}
.navce ul:hover .textboxm{
	display:block;
}
.textboxm .textleft .chxpq{
	overflow:hidden;
}
.textboxm .textleft .chxpq h5,.textboxm .textleft .chxpq p{
	float:left;
}
.textboxm .textleft .chxpq p{
	width:620px;
	padding:6px 0;
	border-bottom:1px solid #e0e0e0;
}
.textboxm .textleft .chxpq p a{
	display:block;
	border:none;
	border-left:1px solid #e0e0e0;
	font-size:12px;
	font-family:"宋体";
	float:left;
	padding:0 8px;
	height:16px;
	line-height:16px;
	white-space:nowrap;
	color:#666;
	margin:4px 0;
}
.textboxm .textleft .chxpq p a:hover{
	color:#ff4500;
}
.textboxm .textleft .chxpq h5{
	width:54px;
	text-align:right;
	font-weight:700;
    padding: 8px 30px 0 0;
	position:relative;
}
.textboxm .textleft .chxpq h5 a:hover{
	color:#ff4500;
}
.textboxm .textleft .chxpq h5 b{
	position: absolute;
    top: 10px;
    right: 18px;
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;
}
.textboxm .textright{
	float:right;
	width:170px;
}
.textboxm .textright .textimgtop{
	overflow:hidden;
}
.textboxm .textright .textimgbottom{
	margin-top:10px;
}
.textboxm .textright .textimgbottom a{
	display:block;
	width:170px;
	height:130px;
	margin-bottom:1px;
}
.textboxm .textright .textimgbottom a img{
	width:170px;
	height:130px;
}
.textboxm .textright .textimgtop a{
	display:block;
	float:left;
	width:83px;
	height:35px;
	margin-bottom:1px;
	margin-right:1px;
}
.textboxm .textright .textimgtop img{
	width:83px;
	height:35px
}


.nav-box .navbanner{
	float:left;
	margin:10px;
	margin-bottom:0;
	width:760px;
	height:456px;
	position:relative;
    left:0;
	overflow:hidden;
	z-index:40;
}
.nav-box .navbanner .picmain{
	width:2280px;
	position:absolute;
	top:0;
	left:0;
	z-index:-2;
}
.nav-box .navbanner .picmain a{
	display:block;
	float:left;
	width:760px;
	height:456px;
}
.nav-box .navbanner .picmain img{
	width:760px;
	height:456px;
}
.nav-box .navbanner .hbut{
    width:60px;
    height:90px;
    position:absolute;
    top:170px;
    cursor:pointer;
}
#pre{
	left:0;
	background:url(../img/tubiao.png) no-repeat -57px -10px;
}
#next{
	right:0;
	background:url(../img/tubiao.png) no-repeat -57px -100px;
}
.navbanner ul{
	width:200px;
    height:16px;
    position:absolute;
    bottom:10px;
    left:400px;
}
.navnow{
    background:url(../img/tubiao.png) no-repeat -14px -33px!important;
}
.anvli{
	width:18px;
    height:16px;
    float:left;
    margin-right:8px;
    cursor:pointer;
    background:url(../img/tubiao.png) -14px -49px;
}
.advertising{
	width:210px;
	float:right;
	height:456px;
	margin-top:10px;
}
.advertising,.advertising img{
	width:210px;
	height:456px;
}
.blzq-main{
	width:1200px;
	margin:auto;
	padding-bottom:30px;
}
.blzq-main .recommend{
	margin-top:10px;
}
.blzq-main .recommend ul{
	overflow:hidden;
}
.blzq-main .recommend ul li{
	float:left;
}
.blzq-main .recommend ul .havemargin{
	margin-left:37px;
}
.blzq-main .recommend ul .havemargin img{
	border:1px solid #e5e5e5;
}
.blzq-main .recommend ul li img{
	width:208px;
	height:154px;
}
.qfmargin{
	margin-top:10px;
}
.qfmargin,.qfmargin a img{
	width:1200px;
	height:120px;
}
.classify{
	margin-top:10px;
	overflow:hidden;
}
.classify h3{
	float:left;
}
.classify ul{
	float:right;
	overflow:hidden;
}
.classify ul li{
	float:left;
	border-top:1px solid #e5e5e5;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	font-size:12px;
	padding:11px 15px;
	font-family:"宋体";
	cursor:pointer;
}
.classify ul>li:first-of-type{
	border-left:1px solid #e5e5e5;
}
.classify ul>li:last-of-type{
	border-right:1px solid #e5e5e5;
}
.product-display{
	border-top:1px solid #ff4500;
	margin-top:-1px;
	overflow:hidden;
	padding-top:10px;
}
.classify ul li.productCon{
	border:1px solid #ff4500;
	border-top-width:3px;
	border-bottom-color:#fff;
	padding-top:9px;
	color:#ff4500;
}
.product-display .productleft,.product-display .productright{
	float:left;
	height:440px;
	overflow:hidden;
}
.product-display .productleft .adleft,.product-display .productleft .adleft img{
	width:210px;
	height:440px;
}
.product-display .productleft .adleft{
	position:relative;
}
.product-display .productleft .adleft .adclassbox{
	width:210px;
	height:160px;
	background:rgba(255,255,255,0.5);
	position:absolute;
	bottom:0;
	left:0;
}
.adclassbox ul li{
	margin:10px 0;
}
.adclassbox ul li a{
	display:inline-block;
	margin-left:10px;
	width:95px;
	font-size:12px;
	overflow:hidden;
	line-height:26px;
}
.adclassbox ul li a i{
	display:block;
	float:left;
	width:26px;
	height:26px;
	margin-right:5px;	
}
.adclassbox p{
	font-size:12px;
	margin-left:25px;
	margin-top:16px;
}
.productbg{
	height:220px;
	width:990px;
	overflow:hidden;
	border:1px solid #e5e5e5;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border-left:none;
}
.productbg .productbox{
	width:196px;
	height:220px;
	border-left:1px solid #e5e5e5;
	float:left;
}
.productbg .productbox.noleft{
	border-left:none;
}
.productbg .productbox .piclink,.productbg .productbox .piclink img{
	display:block;
	width:140px;
	height:140px;
}
.productbg .productbox .piclink{
	margin:5px auto 5px;
}
.productbg .productbox p{
	width:157px;
	margin:auto;
	font-size:12px;
}
.productbg .productbox span{
	display:block;
	margin-left:18px;
	margin-top:5px;
	color:#E4393C;
}
.bankorbanner{
	margin-top:16px;
	overflow:hidden;
	width:1200px;
	background:#f7f7f7;
	height:64px;
}
.bankorbanner ul{
	overflow:hidden;
}
.bankorbanner ul li{
	height:40px;
	width:120px;
	border-right:1px dashed #999;
	margin:12px auto 0;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	float:left;
}
.bankorbanner ul>li:last-of-type{
	border:none;
}
.bankorbanner ul li a,.bankorbanner ul li a img{
	display:block;
	width:100px;
	height:40px;
}
.bankorbanner ul li a{
	margin:auto;
}
*{
	padding: 0;
	margin:0;
	border:0;
}
.close{
    position:fixed;
    z-index: 1001;
    /*display:none;*/
    top: 0;
   
   
    left: 50%;
    margin-top: 29.4%;
    margin-left: -177px;
    /*text-align:center;*/
}
.close img.tishi{
    width: 350px;
    height: 220px;
    
}
.closebeijing{
	position: fixed;
	top: 0;
	
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1000;
	opacity: 0.5;
	/*display: none;*/
}
.close img.sure{
    position: absolute;
    width: 110px;
    height: 35px;
    margin-top: -52px;
    margin-left: 120px;
}
.close img.guanbi{
    position: absolute;
    width: 21px;
    height: 21px;
    margin-left: 310px;
    margin-top: -210px;
   
}
.close p{
	font-family: "微软雅黑";
    position: absolute;
    font-size: 24px;
    color: #000;
    margin-top: -144px;
    line-height: 35px;
    text-align: center;
    width: 350px;
    
}
.close p i{
	font-family: "微软雅黑";
    font-size: 26px;
    font-style:italic;

}
