*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rank-wrap{
	width: 100%;
	min-width: 1200px;
	background-color: #faf3e3;
	background-size: 100% 100%;
	min-height: 2600px;
	font-family: "黑体";
	position: relative;
}
.rank-wrap .xf-big-bg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.rank-banner{
	width: 100%;
	position: relative;
}
.rank-banner .rank-banner-img{
	width: 100%;
}
.rank-banner .rank-bird{
	width: 433px;
	height: 702px;
	position: absolute;
	bottom: -60px;
	z-index: 9;
}
.rank-content{
	width: 1200px;
	background-color: white;
	padding: 60px 110px;
	margin: 20px auto 0;
	position: relative;
	border-radius: 15px;
	z-index: 8;
}
.rank-content-tit{
	font-size: 27px;
	text-align: center;
	color: #333333;
}
.rank-bold-line{
	display: block;
	width: 24px;
	height: 8px;
	margin: 14px auto 0;
	background-color: #b3653f;
}
.rank-table-wrap{
	width: 100%;
	border: 2px solid #f0dfd6;
	border-radius: 15px;
	overflow: hidden;
	margin: 55px 0;
}
.rank-table{
	width: 100%;
	table-layout:fixed;
}
.rank-table th,.rank-table td{
	text-align: center;
	color: #b3653f;
}
.rank-table th{
	height: 73px;
	line-height: 73px;
	background-color: #f7eee8;
	font-size: 18px;
}
.rank-table td{
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	border-bottom: 2px solid #f7eee8;
}
.rank-award-set{
	width: 100%;
}
.rank-award-set{
	overflow: hidden;
	padding-top: 10px;
	margin: 20px auto 55px;
}
.rank-award{
	border: 1px solid #eddad1;
	padding: 30px 24px;
	border-radius: 10px;
	width: 308px;
	float: left;
}
.rank-award2{
	margin-left: 28px;
	margin-right: 28px;
	position: relative;
	top: -10px;
}
.rank-award-tit{
	font-size: 24px;
	text-align: center;
	color: #a95027;
	font-family:'Source-Han-Ligh117d16a6761b4cb';
}
.rank-award-tit2{
	color: #a95027;
	font-size: 16px;
	text-align: center;
	margin: 13px;
}
.rank-award-tit2 span{
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #a95027;
	position: relative;
	top: -3px;
	margin: 0 5px;
}
.rank-award-tit3{
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin: 30px 0 10px;
}
.rank-award .rank-prize{
	width: 262px;
	height: 225px;	
	margin: 0 auto;
}
.rank-ruls{
	width: 100%;
	margin: 40px auto;
	border-radius: 15px;
	border: 1px solid #eddad1;
	padding: 40px;
}
.rank-ruls p{
	font-size: 16px;
	color: #333333;
	line-height: 35px;
}
.rank-bottom-bg{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;	
}
.rank-statement{
	font-size: 22px;
	color: #3F7E4A;
	text-align: center;
	position: absolute;
	bottom: 50px;
	display: inline-block;
	width: 100%;
}
.rank-statement img{
	width: 30px;
	height: 31px;
	display: inline-block;
	margin-right: 10px;
	margin-top: -5px;
}
