body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:26px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:26px;
  width:1200px;
  height:59px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:59px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:691px;
  width:1200px;
  height:89px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:89px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:159px;
  width:1200px;
  height:260px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:260px;
}
#u7 {
  position:absolute;
  left:2px;
  top:122px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:100px;
  top:85px;
  width:1000px;
  height:62px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:62px;
}
#u9 {
  position:absolute;
  left:2px;
  top:23px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:417px;
  width:1200px;
  height:260px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:260px;
}
#u11 {
  position:absolute;
  left:2px;
  top:122px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:85px;
  width:100px;
  height:62px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u13 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1100px;
  top:85px;
  width:100px;
  height:62px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:62px;
}
#u15 {
  position:absolute;
  left:2px;
  top:23px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
