body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:18px;
  width:320px;
  height:462px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:462px;
}
#u2 {
  position:absolute;
  left:2px;
  top:223px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
}
#u4 {
  position:absolute;
  left:2px;
  top:1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:435px;
  width:320px;
  height:45px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:19px;
  top:438px;
  width:25px;
  height:25px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:83px;
  top:438px;
  width:25px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:274px;
  top:438px;
  width:25px;
  height:25px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:146px;
  top:438px;
  width:25px;
  height:25px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:210px;
  top:438px;
  width:25px;
  height:25px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:23px;
  top:465px;
  width:17px;
  height:10px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:8px;
  color:#515151;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:87px;
  top:465px;
  width:17px;
  height:10px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:8px;
  color:#515151;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:150px;
  top:465px;
  width:17px;
  height:10px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:8px;
  color:#515151;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:210px;
  top:465px;
  width:25px;
  height:10px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:8px;
  color:#515151;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:282px;
  top:465px;
  width:9px;
  height:10px;
  font-family:'Calibri Regular', 'Calibri';
  font-size:8px;
  color:#515151;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:10px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
